[2019-07-31 17:09] geospatial-jeff commented on #356
My reason for moving bands out of the EO/SAR extension is that they are common to each item but you are right; in reality the implementation isn't that simple and would probably increase complexity.

I think `raster` is too generalized.  The purpose of a `sat` extension (or something similar) is to abstract the properties related to the platform (such as LS8, Sentinel1/2 etc.) to their own extensi

[2019-08-01 17:30] #472 closed

[2019-08-01 17:32] m-mohr commented on #517
Done with #525.

[2019-08-01 17:32] #517 closed

[2019-08-01 17:33] m-mohr commented on #528
Unfortunately, it got merged already without you having a look on it. So please double check whether it's working, otherwise we'd need to revert or find another solution.

[2019-08-01 17:33] #528 closed

[2019-08-01 17:54] m-mohr commented on #536
STAC Working Session: Will come up if really needed. We'll see.

[2019-08-01 17:54] #536 closed

[2019-08-01 17:57] m-mohr commented on #498
I think we moved away from this idea again. Primary use case was the projection extension, but seems we don't put it into a separate file. Also discussed this once again on the following phone call and it seemed to be not a very good idea as you don't know where to look for data. In extended or in "core"? So you need to request both files anyway so what's the point on separating?!

[2019-08-01 17:57] #498 closed

[2019-08-01 18:49] m-mohr opened #541 "Link to definitions in text"
In the spec we often have data types defined in a table, for example `Link Object`. These are later defined in sections. We should link from the occurrence of the Object to the corresponding section.

[2019-08-05 08:40] m-mohr commented on #535
I think we can delay this until STAC 0.9.0 as there's a very small chance IANA may not approve the suggestion by the OGC and there's no proposal yet on COGs.

[2019-08-05 08:42] m-mohr commented on #533
Also in issue between Item and the other specs, for example Provider Object and Links Object.

[2019-08-05 17:06] m-mohr commented on #439
Changes are part of the massive PR #531.

[2019-08-05 17:07] m-mohr commented on #541
To avoid massive merge conflicts, I'm waiting for #527 and #531 to be merged.

[2019-08-14 00:47] matthewhanson opened #542 "Allow summaries to specify Stats"
In the recent merged PR #527, the Range object for a field allows one to specify min and max.

But why not call it a Stats object and allow for one to also add things such as mean or stddev?

[2019-08-14 00:48] matthewhanson opened #543 "Update `stac_version` in all examples to be 0.8.0"
As the dev branch is the future 0.8.0, all the examples containing stac_version should be updated from 0.7.0 to be ready for a release.

[2019-08-14 01:27] matthewhanson opened #544 "Make license and providers consistent between Collection and Item"
Looking through the master-dev comparison I came across this addition by @mojodna
https://github.com/radiantearth/stac-spec/commit/6c2dd82ca4db772ece19a6f2d494ad9f7f1f30d9#diff-f172c5ad070035133e672354409185fcR79

It says:

---
###
**license** and **provider** should be defined at the Collection level if possible (as either
common properties or Collection fields). Item-level definition of these fi

[2019-08-14 02:23] matthewhanson opened #545 "Update CHANGELOG"
New PRs have a checkbox for updating the CHANGELOG, so the most recent merges are included in it, but the older commits are not.

I compared the branches but could only go back 250 commits to May 9th.  Will have to take another pass looking at the older commits.

Here's an initial pass at changes.

---

## Added
- Label extension added with additional fields for describing labeled data, such as us

[2019-08-14 14:40] m-mohr commented on #413
Merged to dev.

[2019-08-14 14:40] #413 closed

[2019-08-14 14:42] m-mohr commented on #161
@matthewhanson wrote in #235:

[2019-08-14 14:47] m-mohr commented on #533
Partially tackled by #531 (inherit JSON Schema fields from Catalog) to avoid that extensions need to be added to both the Collection and the Catalog JSON schemas.

[2019-08-14 14:47] m-mohr commented on #278
Merged to dev, will be part of 0.8.0.

[2019-08-14 14:47] #278 closed

[2019-08-14 14:47] cholmes opened #546 "Add info about mixed version catalogs to best practices"
#531 did away with the requirement that catalogs should not have mixed versions. There is more behind that though, that we still want people to try to make their catalogs consistent STAC versions, but that we understand some use cases where that's not so easy, like on truly massive static catalogs.

Let's just add some more info on this to the best practices document.

[2019-08-14 14:48] m-mohr commented on #439
Merged to dev, will be part of 0.8.0. We should still add recommendations about this in the best practices. Follow-up issue is #546.

[2019-08-14 14:48] #439 closed

[2019-08-14 14:55] m-mohr commented on #543
Another ToDo before releasing is to update the UML diagram.

[2019-08-14 14:59] #161 closed

[2019-08-14 15:29] m-mohr commented on #543
Made the PR for the version numbers, but draw.io semms hard to update. Could you take a stab, @hgs-msmith ?

[2019-08-14 16:24] cholmes commented on #544
Decided to not remove license and providers from Collection, but to remove some ambiguity - being explicit about setting it to 'various' if multiple licenses are in the collection.

[2019-08-14 16:24] #544 closed

[2019-08-14 16:27] #543 closed

[2019-08-14 16:29] #541 closed

[2019-08-15 16:54] matthewhanson commented on #524
Agree with @lossyrob, it shouldn't be just the label polygons, but the area of the image that was labeled and validated.

[2019-08-15 17:12] matthewhanson commented on #499
We should resolve this for 0.8.0.

I've changed my mind on this and agree with @m-mohr's comments. It should stay as name as id implies a unique identifier, but this isn't a key so cannot be guaranteed to be unique (even though it should be)

[2019-08-15 17:26] matthewhanson opened #553 "Add additional bands to the common bands table"
More bands can be added to the table of EO common_band names, such as yellow, red edge, multiple nir bands.

In some cases it's important to make a distinction between bands that are in the same region, but slightly offset such as what we see with the two main swir bands.  We use swir16 and swir22 to designate the band centered around 1.6 microns and 2.2 microns, so I'd recommend we stick with tha

[2019-08-15 20:13] matthewhanson opened #555 "Sensor extension to combine some properties from EO and SAR extensions"
Related to some of the discussion that happened at the beginning of #357, I was looking through the EO and SAR extensions for some commonalities.

Pulling out these fields:
- constellation
- platform
- instrument

into another extension serves not only the EO and SAR extensions but also future ones such as drones, or even ground based instruments.

- Constellation: a group of individual sensors of

[2019-08-15 20:23] matthewhanson opened #556 "Remove prefix for datetime range extension"
As we approach a 1.0 release I feel that we need to start moving away from extension prefixes for some extensions that end up being used by multiple other extensions. These seem to be more core to me, and while they could remain extensions by removing the prefix it brings them closer to being able to make them core in the future without as many problems with backward compatibility.

The Datetime r

[2019-08-15 20:28] matthewhanson opened #557 "revision field for Collections and Items"
We currently have a 'version' field in Collections, but nothing equivalent in Items.  See #501 for some discussion on versioning.

NASA uses the term 'revision' here, which is an update to the metadata record. This could mean it points to new versioned assets, or some properties in the metadata has changed...something is different.

From a provenance standpoint this is becomes more complicated bec

[2019-08-15 20:33] matthewhanson commented on #30
I don't think this is relevant anymore. We should stick with whatever WFS does.

Closing.

[2019-08-15 20:33] #30 closed

[2019-08-15 20:37] matthewhanson commented on #35
There is no reason to not allow a 3rd dimension in the Item, and I think we do because it's a GeoJSON geometry which allows for it.
However, our description of Geometry and Bounding Box should be updated to say not just lat/lon, but lat/lon/<alttitude>

I'm moving this to 0.8.0 as it's just a clarification.

[2019-08-15 20:39] matthewhanson commented on #42
I think additional distribution endpoints for an Item could go in either links or assets.  Maybe this should go in Best Practices @cholmes @m-mohr.

@m-mohr you labeled this as 'new extension' but I'm not sure what that new extension would be.  Links or Assets seem to be all that's needed here.

[2019-08-15 20:42] matthewhanson commented on #236
Related to new issue I posted #555

[2019-08-15 20:46] matthewhanson commented on #309
I don't think 'rel' type is what we after here.  I can see the need for describing something as a visual asset, or a thumbnail, or an analytic asset, or metadata, but that seems different that what 'rel' is after, and I wouldn't want people to go and use all of the IANA rel types here.

I perhaps see a related field, like "type" which would have an enumerated list:

- thumbnail
- visual
- preview

[2019-08-15 20:55] m-mohr commented on #309
Agreed. Throughout the spec we usually use type for media types, so I would use another keyword. Maybe something like use or application makes more sense. Native speakers, please propose better words if there are any. ;)

[2019-08-15 21:02] m-mohr commented on #556
I have no strong opinion in this issue, but would like to mention that extensions are useful to better model dependencies between fields. For example, the two fields in datetime-range are required and both need to be available. We can't model that very well as core fields as we can't require them. So users could just use one of the fields and that's not very helpful. So leaning towards more extens

[2019-08-15 21:20] m-mohr commented on #42
Initially, I meant #470, but the focus of the extension seems to have shifted a bit.

Still, you may need more than links for web service links. At least a rel type, I think. Maybe additional properties depending on the service.

[2019-08-15 21:41] m-mohr opened #560 "Where to put extension fields in collections?"
So, we are now getting more extensions to the collection spec. @matthewhanson proposed Asset Schema and I'm about to propose to extend the Scientific extension to also cover Collections (and Catalogs?). Where to put the new fields? In Items we have properties, but properties are used by the commons feature. So should they all be on the top level?

[2019-08-15 21:44] m-mohr opened #561 "Scientific extension for Collections"
The Scientific extension is not usable in Collections, but I think in most cases DOIs and citations are available for Collections and not so often for Items. Therefore, I would propose to extend the Scientific extension to also cover Collections. Maybe even Catalogs?

I'll make a PR once we have consensus on #560.

[2019-08-15 21:59] m-mohr commented on #557
For the sake of compatibility I'd stick with version as it's already used in Collections and the closer we get to 1.0, the less I'd like change the specs. But if a majority prefers Revision, I'm fine with that. The two keywords are mostly interchangeable and don't have major pros or cons.

[2019-08-15 22:23] matthewhanson commented on #309
Ah yes, and this is an asset, so there is already 'type' in that same object.

I'm not sure what else makes sense: 'class' although that tends be used a lot and maybe not descriptive.  I think 'archetype' accurately describes what we are after here, but not sure people would like that.

[2019-08-15 22:24] matthewhanson commented on #556
Excellent point. Keeping it as an extension makes sense, but without a prefix.

[2019-08-15 22:25] matthewhanson commented on #42
Perhaps, but there doesn't seem to be anything actionable here, can we close this issue?

[2019-08-15 22:27] matthewhanson commented on #560
I'm not keen in getting the top-level all cluttered.  But if we do put it at the top level they could at least go under a single field.  Like with assets there is a single top level field called "asset" like in Items. For scientific would you be ok with a top level field called "scientific"?

[2019-08-15 22:28] matthewhanson commented on #561
I agree, they do make more sense with Collections. I don't see the need for catalogs.

In a way though, why would this not belong in properties as part of commons?  If it's a DOI and citation for a collection of data it really does apply to all Items doesn't it?

[2019-08-15 22:41] matthewhanson commented on #557
I'm fine with sticking with 'version', we'll just want to use the same for Collections and Items.

[2019-08-16 11:05] m-mohr commented on #42
Well, at least a recommendation how to link to them should be an outcome?!

[2019-08-16 11:06] m-mohr commented on #35
Agreed, we should also check the descriptions for spatial collection extents.

[2019-08-16 11:12] m-mohr commented on #555
Isn't this a duplicate of #356? Not sure whether we get this done for 0.8. There were some discussions on the STAC sprint 3, but we were stuck with some issues. Unfortunately, I can't recall what issues we faced. Do you remember, @jbants ?

[2019-08-16 11:23] m-mohr commented on #309
I have never heard `archetype` in my life before, neither did my colleague. We're both not native speaker, so for us it would not be intuitive. That's why I proposed simple words as use or application.

[2019-08-16 11:30] m-mohr commented on #560
I'm not a fan of a single field as it would make the spec different for Item and Collections, but I guess it should just be the same? I don't really see a problem to put them top-level though.
I'd like to use properties for collection extensions only as we do for items, but then we'd need to rename commons to something else (I never found properties very descriptive anyway). `item_properties`? `co

[2019-08-16 11:38] m-mohr commented on #561
Yeah, in most cases it should. Doesn't work if you have different citations/DOIs per Item and one for the whole collection.

I never looked at `properties` this way. I always looked at it from the Item perspective where you just put common things in collections. Your comment is the other way round. We specify something in the collection and it's automatically available for Items... It's technicall

[2019-08-16 11:45] m-mohr commented on #556
Prefix: I think we should invest more thoughts around dates/times in general (see #351) and then align what we came up with.

[2019-08-16 16:52] jbants commented on #555
If I recall, we were starting to get into the issue of extension inheritance. If a user implements the `SAR` or `EO` extension are they required to implement the following non-prefix fields?

* constellation
* platform
* instrument

[2019-08-16 18:35] matthewhanson commented on #555
Hmm, yes this is somewhat of a duplicate, although I was moving away from a `sat` extension, because these 3 fields basically can apply to any sensor at all.

Not sure this needs to be for 0.8.0, but pulling stuff out of extensions and renaming things I'd rather we do sooner than later.

As far as extension inheritance....I'm not sure, should it be required?  I think so.   Someone could still have

[2019-08-16 18:39] matthewhanson commented on #555
Also discussed in #356  is bands. The concept of bands is in both SAR and EO, but they contain some different fields.

But bands in general are really just variables, and any sensor is potentially capable of collecting data over multiple variables, so I could see it included more generally here as well, and with extensions adding fields to it.

[2019-08-16 18:46] matthewhanson commented on #556
I'm not sure how the proposed fields in #351 are related to these datetimes though. Those all have to do with datetime of access/creation/update times of the metadata record, this is for the actual datetime of the data.

[2019-08-16 18:49] matthewhanson commented on #561
I don't see those things as all that different.

But I could also see putting it at the top level of Collections as well.

[2019-08-16 18:52] matthewhanson commented on #560
I agree `properties` isn't a great name, but I think it's best to use the same name as what they are in the Items.

I'm just not a big fan of clutter, esp at the top level, when things could be categorized.

Does WFS provide any guidance for adding fields to collections?

[2019-08-16 18:53] matthewhanson commented on #309
That's too bad, archetype is a great word to use here, but probably too obscure for non-native speakers.

Will think on it.

[2019-08-16 22:10] m-mohr commented on #556
I just want to make sure we don't need to change things again once we may decide to introduce fields proposed in #351 and come up with something different there. For example, all metadata related temporal fields get a prefix and data related don't or the other way round or...

[2019-08-16 22:17] m-mohr commented on #560
No, I don't think so, but not 100% sure either and if I recall correctly @cportele said they haven't thought about extensions very much yet.

Would make a section such as extended make sense? Although I don't think we would add very much fields to the top level and I'm also not overly concerned about cluttering the root level.

Putting it in properties would make validation easier. I don't see a g

[2019-08-18 22:42] cholmes commented on #561
I see value in putting it at the top level of Collections. Don't think it should be in Catalog though. Collections to me is useful metadata about the set of data, like what should be harvested by a CSW, while Catalog is just a structure.

[2019-08-18 22:46] cholmes commented on #556
Yeah, I think we should have a set of 'core extensions', that don't need the prefix, but aren't in the core spec. It's perhaps a final level of maturity, to have the extension dropped.

Scheduling this for 0.9.0

[2019-08-18 22:48] cholmes commented on #524
Moving this to 0.9.0, but if someone wants to put something in asap then can do it for 0.8.0

[2019-08-18 22:49] cholmes commented on #436
Closing this, as I think Matt got this quite a bit better. We can open issues for other specific improvements.

[2019-08-18 22:49] #436 closed

[2019-08-18 22:51] cholmes commented on #367
Closing this, can re-open when we have an example catalog to look at, and decide what changes we need to the core spec to enable good validation while allowing these non-spatial mixed catalogs.

[2019-08-18 22:51] #367 closed

[2019-08-18 22:55] cholmes commented on #555
I'm going to move this to 0.9.0, as I think we need to have a larger discussion on this and get a plan and philosophy of how to approach this. Overall I like the move, towards some 'core extensions' that don't need prefixes, but aren't in the absolute core. But we need to decide if it's one larger extension that lists all the non-prefix stuff, or a set of extensions with some special designation.

[2019-08-18 22:59] cholmes commented on #357
I'm going to close this one - thanks everyone for the great discussion, but most of the community seems happy with the prefixes. I do like the idea of 'default namespaces' as a way out, but let's put that into its own issue. Happy to entertain that idea before we go to 1.0-beta. And indeed I'd say if there's more specific ideas let's just open them in their own issues.
I also do want to explore mo

[2019-08-18 22:59] #357 closed

[2019-08-18 23:04] cholmes commented on #356
Moving this to 0.9.0. I think it's one of the if not the major issue to discussion for the next release, but let's not try to rush it out for 0.8.0

[2019-08-18 23:08] cholmes commented on #309
Changed the name of this issue, and moved it to 0.9.0

[2019-08-18 23:12] cholmes commented on #445
I don't think we'll get to this for 0.8.0, moving out.

[2019-08-19 08:58] m-mohr commented on #542
Done.

[2019-08-19 08:58] #542 closed

[2019-08-19 12:41] m-mohr commented on #545
Done.

[2019-08-19 12:41] #545 closed

[2019-08-19 12:46] #553 closed

[2019-08-19 15:51] #561 closed

[2019-08-19 16:02] hgs-truthe01 commented on #557
I think this relates to #534

[2019-08-19 16:06] m-mohr commented on #557
To continue the discussion from the call: Why should the field be top-level and not just in properties? @matthewhanson

[2019-08-19 16:08] m-mohr commented on #560
So as the scientific extension adds to the top-level for now, I'd say there's nothing more to do for 0.8 and we can move this issue to a future release.

[2019-08-19 18:30] matthewhanson commented on #557
I think it belongs in the top level because the version would be used alongside `id`.  The unique key for any record would need to reference the `id` and the `version`.  So it seems like those belong side by side (for the `collection` it is already at the top-level).

There's still a lot to discuss - such as how multiple versions are stored in a static catalog, and how does the API work.  The API

[2019-08-20 13:58] m-mohr commented on #546
Added to PR #548

[2019-08-20 14:02] m-mohr commented on #289
Do we need to move anything from this old best practices to the new best practices, @cholmes ?

[2019-08-20 14:14] m-mohr commented on #557
In collections, we don't have properties or something similar so everything is top-level. Otherwise I'd probably have put it not on the top-level there.

Do we have enough time to discuss all the other issues for 0.8 or should we move this to 0.9?

[2019-08-20 15:04] #35 closed

[2019-08-20 15:05] #385 closed

[2019-08-20 15:07] #546 closed

[2019-08-20 15:09] cholmes commented on #289
Closed with #552

[2019-08-20 15:09] #289 closed

[2019-08-20 15:22] cholmes opened #566 "Update the UML"
We should have an updated UML diagram for 0.8.0 release, or else just not include it.

[2019-08-20 15:23] #153 closed

[2019-08-23 16:45] m-mohr commented on #566
The UML was updated. The only things missing are the details about the Spatial Extent Object, the Temporal Extent Object (in Collections) and the Stats Object (in Catalogs/Collections). Not sure how strict we should be, I'd be also fine to leave it as it is, but if you have the time @hgs-msmith then that would be something you could improve.

Leaving this open for a 0.8.0 to check whether we had t

[2019-08-27 22:06] lossyrob opened #574 "label extension: Clarify requirements around Link "label:assets" property"
[This section](https://github.com/radiantearth/stac-spec/blob/4e7aca333f663b8e6ae068ba2ecb661bcee7185a/extensions/label/README.md#links-source-imagery) of the label extension spec specifies that:

This is useful for LabelItems with multiple "label" assets that apply to different source imagery so that the linked source imagery can be tied to the label asset that was generated from that source.

Ho

[2019-08-28 13:29] davidraleigh opened #575 "Protocol Buffer version of STAC for use with gRPC"
Submitting an issue to ask for input on the included Protocol Buffer definitions that attemp to match JSON STAC. If some of you all could review the below tables and give input as to whether this is an acceptable STAC-like implementation, that would be great. I'd love to eventually fold Protobuf STAC into the stac-spec or have it be a community accepted project. Please, let me know what I can do t

[2019-08-28 13:59] m-mohr commented on #575
This seems like great work, although I'm not very familiar with it.
First thing I'd think you could do to promote it is to add it (via PR) to the Third Party Vendor Extensions table in the [Extensions README](https://github.com/radiantearth/stac-spec/blob/master/extensions/README.md) file. You could then also add it to the [implementations](https://github.com/radiantearth/stac-spec/blob/master/imp

[2019-08-28 21:40] lossyrob commented on #574
Ah - I think I understand what this is for now. The assets in the "label:assets" property of the source Link should describe the asset _in the source Item_ to which the labels of the label Item apply to.

If that's the right read, I'm happy to clarify the docs.

The requirement component is still an outstanding question though...should this be a requirement of all source Links? Or only apply in si

[2019-08-29 06:03] davidraleigh commented on #575
Thank @m-mohr!

After FOSS4G I'll make a PR to add it to the Third Party Vendor Extensions and another PR to add it to the implementations page.

With the current protobuf definition I've submitted we have the `eo` and `sar` fields directly on the `StacItem` and that helps mimic the JSON-LD name definitions.  Accessing `bands`, `platform`, `instrument`, and `constellation` would look like the foll

[2019-08-29 09:17] m-mohr commented on #575
Thank you for clarifying, I didn't catch that there's the scoping between the two dots. Now your approach makes much sense.

[2019-08-29 13:27] cholmes commented on #575
+1 - great work @davidraleigh. And definitely agree that adding it to Extensions makes good sense, starting as a third party extension and could evolve to be included in the STAC extension repo (we have some work to figure out exactly how we sort out where we put and group extensions).

[2019-08-31 12:55] matthewhanson commented on #574
You got it right, a link with `rel=source` is the STAC Item from which all these labels were created from, and you could of course have multiple source links.

I was confused as well because I was looking at the SpaceNet examples, where the `source` links are pointing directly to a TIF, but they instead need to point to an Item.   So we either need to create an Item for the source imagery (if ther

[2019-08-31 14:39] nrweir commented on #574
@matthewhanson thats correct. I'm just finishing up reorganizing all of the SpaceNet data and making COGs where they're missing - once I'm done I'll build the new catalog.

[2019-09-03 05:30] mojodna commented on #135
Reading back through and I spotted this. No, nothing yet. Did you make any headway in August on it?

[2019-09-03 08:12] m-mohr commented on #135
Unfortunately, other work blocked it. I just have a converter for Collections starting with 0.6.x...

[2019-09-11 14:47] lossyrob opened #578 "label extension: Label Classes should be list"
In the [New Item properties](https://github.com/radiantearth/stac-spec/tree/fb3320ca65bd96795306e7467aca39ed30b126e1/extensions/label#new-item-properties) section of the label spec, it lists `label:classes` as having type info `Class Object`. Based on the description, which describes "A Class Object defining the list of possible class names __for each__ `label:property`.", as well as existing exam

[2019-09-18 00:58] m-mohr opened #581 "Don't list label extension in extensiom_supported of catalogs"
I found another issue in the label extension example catalog files. They include label in stac_extensions, but the label extension is an item extension and therefore shouldn't be mentioned in the catalogs. Example (how it should not be) : https://github.com/lossyrob/stac-spec/blob/a7348f65095cabadcc739757d21df0e5dbad3b86/extensions/label/examples/multidataset/catalog.json

Must be fixed in all exa

[2019-09-18 23:15] tomkralidis commented on #198
What about casting `assets` as a list of `Link` objects, whose properties would be able to cover what we need.  In addition, echo'ing @hgs-truthe01 in that we would end up with many meaningless names being used to simply satisfy the content model.

[2019-09-22 18:09] lossyrob opened #584 "Label Extension: Overview property should be list"
Similar to #578, the `label:overview` property is an object that applies to a  single `label:property`; since there can be several `label:overviews` if there are multiple properties, the spec needs to allow for multiple overviews.

This indicates that the `label:overview` property should be renamed to `label:overviews`, to indicate that the value is a list.

[2019-09-22 18:24] lossyrob opened #586 "Pluralization of properties that are lists"
This issue is in particular about two properties in Collections, but speaks to a general best practice that should be used throughout the spec.

In collections, the `extent` object has a properties `bbox` and `interval`. The singular nature of those property names indicates that there is a single bbox and interval; however, the properties are a lists of bboxes and a list of intervals, respectively

[2019-09-22 18:25] lossyrob commented on #584
Pluralization of `overviews` related to #586

[2019-09-23 15:22] m-mohr commented on #586
We inherit your example from WFS. We can't change it or we would loose WFS compatibility. Therefore I'm strongly in favor of not applying the proposed changes.

[2019-09-23 16:03] lossyrob commented on #586
@m-mohr that makes sense, thanks for the clarification - I agree if that's what WFS wants, that's what we'll need to keep.

For something like the `label:overview` property mentioned in #584, would it make sense to modify the pluralization as this is not part of WFS? In general, would it make sense to keep pluralization consistent _unless_ it breaks from WFS?

[2019-09-24 02:50] cholmes commented on #586
We probably could have suggested a change to WFS, but they've just locked in 1.0.0, so we're probably set with it.

I'm cool with keeping pluralization consistent unless it breaks from WFS.

[2019-09-25 16:19] m-mohr commented on #586
Agreed. Are there more places to change except for the label extension?

[2019-09-26 15:54] m-mohr commented on #535
The new media type has officially been adopted by OGC in the Geotiff 1.1 standard. We should add the media type in the item spec and deprecated the other media types.

[2019-09-30 14:06] mzaglia opened #587 "bbox in GET request v0.7"
Should the bbox in the query parameters of a GET request be between []?

[2019-10-09 14:55] m-mohr commented on #586
Should we change it to be pluralized before the 0.8 release?

[2019-10-10 15:51] matthewhanson commented on #586
I would be for changing it to be consistent before 0.8.0 final release unless it breaks from WFS.

[2019-10-10 15:56] #581 closed

[2019-10-10 16:01] lossyrob commented on #586
Me too. Let me try to fire off a PR today.

[2019-10-10 17:52] tomkralidis opened #592 "Search Extension review"
As discussed on Gitter, we should review the rationale for the Search Extension given OGC API - Features now provides similar capabilities.

[2019-10-10 18:41] matthewhanson commented on #592
@tomkralidis
I see numberMatched and numberReturned here: https://github.com/opengeospatial/ogcapi-features/tree/master/core/openapi/schemas

One issue is that STAC is snake_case and OGC API uses camelCase. It hasn't really come up before because so far everything has been 1 word.  I would prefer `matched` and `returned` or other 1 word alternatives.

[2019-10-10 22:37] #578 closed

[2019-10-10 22:41] #535 closed

[2019-10-10 22:41] cholmes commented on #584
This looks merged. Closing

[2019-10-10 22:41] #584 closed

[2019-10-10 22:42] cholmes commented on #574
This looks merged.

[2019-10-10 22:42] #574 closed

[2019-10-11 11:45] #586 closed

[2019-10-11 12:06] m-mohr commented on #592
Fully agree with @matthewhanson, but I doubt we can change it and need to live with casing inconsistencies as WFS has been released already.

Is there anything to do for STAC 0.8? Like should we add numberMatched and numberReturned in responses to be fully compliant with OAF?

[2019-10-11 12:16] tomkralidis commented on #592
If STAC (API) is seen as a WFS extension, then do we assume that `numberMatched` and `numberReturned` are already part of same?

[2019-10-11 12:25] m-mohr commented on #592
I just checked it and STAC API inherits numberMatched and numberReturned from WFS just fine. So currently, things are duplicated in STAC API and we can think about the next steps during the sprint.

[2019-10-14 12:14] rouault opened #603 "Could STAC 'license' property be implemented using OAPI-F rel:license link ?"
There's a small overlap between STAC mandatory 'license' property and the OAPI-F rel:license mechanism.
"Example 4. Feature collections response document" of http://docs.opengeospatial.org/is/17-069r3/17-069r3.html shows in collection description the following links
[code]
That mechanism could probably be used in replacement of STAC 'license' property field. The only difference is that when using

[2019-10-14 12:18] m-mohr commented on #603
STAC also allows links with rel=license. Such a link is required if the license field is set to "proprietary" and optional otherwise. The license field is an addition to OAF  as we found the license (at least in Collections) to be one of the most important fields. Without license you can't use the data. So I think STAC is compatible with OAF here.

[2019-10-14 12:21] m-mohr opened #604 "Update to OGC API - Features - Parte 1: Core v1.0.0 stable version."
Currently, STAC references the OAF draft 2 document (http://docs.opengeospatial.org/is/17-069r3/17-069r2.html) and also inherited the API description from there, but there's now a stable version (http://docs.opengeospatial.org/is/17-069r3/17-069r3.html). We need to update STAC documentation accordingly and update also the OpenAPI file.

[2019-10-14 12:23] rouault commented on #603
Thanks. I overlooked the longer explanation in https://github.com/radiantearth/stac-spec/blob/master/collection-spec/collection-spec.md  . My point that was formally you wouldn't need to add an extra field, but you could put an additional requirement over OAF to make a rel=license link compulsory. But I don't think further action is needed as the relationship between both has been considered when

[2019-10-14 12:23] #603 closed

[2019-10-14 12:28] m-mohr commented on #603
@rouault Reason mainly was that we can more easily require and validate a license field, but validating that a link with rel=license is available and has a (only in this case required) title in a consistent format (SPDX) is somewhat complex and not easy to do or understand. Also, if a separate required field is available, users are more likely to fill it.

[2019-10-14 15:18] m-mohr commented on #604
Should we check what has changed and align before the sprint?

[2019-10-15 08:35] m-mohr opened #606 "Allow Data Cube extension being used for Collections"
Currently, the data cube extension is only defined for Items, but it is even more useful for Collections (e.g. in openEO and GEE). Therefore I'd propose to allow data cubes to be used in collections natively, without having them to be wrapped in summaries or properties. That also came  to mind when Matt was talking about Pangeo and Zarr in the last meeting.

[2019-10-15 13:21] m-mohr commented on #198
Now that I'm starting to generate STAC Items from job results the dictionary is getting painful as I need to create random property keys. At the moment I'm just basically adding 1,2,3,4,etc. as strings, but that just doesn't feel right. As we generate random names anyway and don't really have a convention regarding naming, it feels like the property keys don't really add a value. Therefore I'd vot

[2019-10-15 13:26] m-mohr commented on #499
Did we agree on no changes? If not, please reopen. :-)

[2019-10-15 13:26] #499 closed

[2019-10-15 13:27] m-mohr commented on #264
I think this is now available via extensions_supported.

[2019-10-15 13:27] #264 closed

[2019-10-15 13:32] m-mohr commented on #216
So the summaries now allow this for collections. The question here is whether there are really many Items that have multiple values for platform and instrument? Usually Sentinel-2A and Sentinel-2B images would be a separate items. And for "merged" imagery/mosaics/... I'm not sure whether it's worth the effort to change anything here. It could just be a string such as "Instrument1 + Instrument2" or

[2019-10-17 17:03] m-mohr commented on #503
I'll take this on soon. Question is: Do we replace the current extension with a new multihash extension?

[2019-10-22 07:18] aznan2 commented on #587
OGC API - Features does not use brackets:
http://docs.opengeospatial.org/DRAFTS/17-069r1.html#_parameter_bbox

The bounding box of the New Zealand Exclusive Economic Zone in WGS 84 (from 160.6°E to 170°W and from 55.95°S to 25.89°S) would be represented in JSON as `[ 160.6, -55.95, -170, -25.89 ]` and in a query as `bbox=160.6,-55.95,-170,-25.89`.

[2019-10-23 12:49] m-mohr opened #613 "Time ranges and the "datetime" field"
For time ranges we have the datetime-range extension. Unfortunately, it is not clear what to set for the required `datetime` field in a STAC Item. Should it be the first date-time? Should it be some kind of a middle value?

This issue appears often for the SAR extension/DAR data, videos and timeseries bundled in a single asset.

As I feel the datetime field is somewhat limited or not clearly speci

[2019-10-23 15:40] matthewhanson commented on #503
I think we can just replace the existing extension.

[2019-10-24 20:51] vmx commented on #503
Sorry, I didn't follow this issue closely. There is still the plan to bring Multihash to the IETF (that effort just got rebooted).

[2019-10-24 20:52] vmx commented on #503
Now I will follow it. So if you've any questions or there's any way to help, let me know :)

[2019-10-25 08:20] m-mohr commented on #503
I you like, you could work on changing the checksum extension for 0.9, @vmx.
I thought about just deprecating the old fields and adding a new checksum:multihash field. In 1.0 we could them remove all the other fields.

[2019-10-25 11:09] vmx commented on #503
@m-mohr Sounds good, I'll have a look next week.

[2019-10-25 12:28] m-mohr opened #615 "Deprecate collections and/or items?"
In openEO we have added a boolean field `deprecated` to the Collections to indicate outdated/deprecated collections. If the field is set to true, a link with relation type `successor-version` can be added to the `links` and refers to the collection that can be used instead.

Is that something that is also interesting for other people? If yes, we could add it for collections and/or items to either

[2019-10-25 15:04] m-mohr opened #616 "STAC API: openAPI is missing Collection and Item fields in WFS endpoints"
I just realized that we dropped the STAC Collections in the STAC API for the endpoints `/collections` and `/collections/{collectionId}`. They are only WFS Collections, but not STAC Collections any longer (e.g. no stac_version, stac_extensions, license, providers, ...).

When I made the WFS alignment that was not the plan and probably an oversight, I think.

Unfortunately, it seems like similar thi

[2019-10-25 18:41] simonkassel opened #618 "Inconsistent schema file names"
There seems to be some inconsistency around how the schema files are named. The base STAC objects have schema files that match the name of the object (e.g. [catalog.json](https://github.com/radiantearth/stac-spec/blob/master/catalog-spec/json-schema/catalog.json)) while the extensions seem to all be named schema.json. This is causing an error when trying to validate with [jsonschema](https://pypi.

[2019-10-25 18:53] lossyrob commented on #618
It seems to me that using `jsonschema` directly in the CircleCI against the examples might be the right way to go. `stac-validator` does more general validation against core objects AFAIK, and doing something more concrete for each case would probably be pretty straightforward.

[2019-10-25 19:30] matthewhanson commented on #615
It does seem useful. We still really need a version in the Item though.

[2019-10-25 19:32] matthewhanson commented on #613
There are some cases where all 3 dates are needed.  For instance, you might have a range of datetimes for some data, but there is also a `nominal` date.   MODIS product MCD43A4 is like this where it is a 16 day mosaic but the values have been corrected to represent the middle day in that range.

I think `datetime` should always be required, the ranges should be optional, and `datetime` should be t

[2019-10-25 19:33] #604 closed

[2019-10-25 19:33] #512 closed

[2019-10-25 19:36] matthewhanson commented on #557
This has come up again recently and it's starting to be a bit of a problem as without a way to handle versions the default approach is to overwrite previous versions which makes data provenance impossible.

I'm fine with version in properties, it's actually more useful there I think because you can put it in collection properties indicating all items in a collection are the same version which is f

[2019-10-25 19:47] m-mohr commented on #613
That's why I wrote:

Why always require a center time though?

[2019-10-25 19:49] matthewhanson opened #619 "Proposed SAR changes"
I've been working with SAR recently and some things have come up WRT the `sar` extension.

- `sar:pass_direction` is required, but it is specific to satellites, and a SAR instrument could be mounted on an airborne platform  (which is why we need `sat` extension)
- sar:bands -> data_type: polarizations can be represented as different products (i.e., assets) within the same collection. If I have SLC

[2019-10-28 12:32] m-mohr commented on #618
Good question, PR #622 should help to fix the issue, right? @simonkassel

Nevertheless, we should think about distinct naming?! @jbants

In the long run we need to set up the CI so that schemas and examples are checked, see #445. @lossyrob

[2019-10-28 13:31] m-mohr commented on #619
For airborne SAR you can simply set the field to null: "Direction of the orbit, either ascending, descending or **null if not relevant**."

I thought that's how bands work at the moment for EO as well?! I remember the discussions about asset specific metadata and thought the solution for now is to have more bands?

Not sure whether it's really *a lot* of fields. Which one do you think about? The o

[2019-10-28 13:32] m-mohr commented on #557
So is there anything that holds us back to add such a field to the item?

[2019-10-28 13:35] m-mohr commented on #615
Just wondering whether deprecated and version could simply be an Item extension?
For collections: It currently has version in the core, deprecated would be on the same level?!

[2019-10-28 16:02] m-mohr commented on #618
Should be solved for 0.8.1 with PR #622

[2019-10-28 16:02] #618 closed

[2019-10-28 16:09] jbants commented on #618
I'll make an issue for updating CircleCI with `jsonschema` directly @lossyrob

[2019-10-28 16:15] m-mohr commented on #557
@hgs-truthe01 I don't really understand how the ETag changes would work for static catalogs. Maybe something to discuss at the sprint?

[2019-10-28 16:16] jbants opened #623 "Update CircleCI to use jsonschema directly"
Use `jsonschema` directly instead of worrying about linking and specific error

[2019-10-28 16:18] matthewhanson commented on #619
Yeah, but if it is allowed to be `null` then why would it be required?  Why not just make all fields required, but then set them to `null` if not relevant?  To me the point of something being required is that it is relevant in all cases.  By saying that it can be set to null if not relevant you are saying that it is optional, but you must still provide a value.

There is no data type of other asse

[2019-10-28 16:18] hgs-truthe01 commented on #557
@m-mohr I think you are right that as defined it doesn't solve the problem. I forgot that the Spec side of things doesn't include anything in the document, but for our implementation we added a top level field to store the revision. So I think you are right that it is a good topic for the sprint.

[2019-10-28 16:21] matthewhanson commented on #557
Nothing holds us back, but just adding the `version` to Items doesn't completely solve the issue as we need to define the API behavior for multiple versions, and also how it works with static catalogs.

I do think this is a super important topic to figure out at the sprint, as it's required by most of the use cases I see.

[2019-10-28 16:23] matthewhanson commented on #615
I think `version` is definitely a core field, and it's long overdue.   It goes hand in hand with `id`, as without it you can only define a new version by giving it a new `id` which is definitely not the behavior you want when versioning.

[2019-10-28 16:23] m-mohr commented on #619
Well, if something is not defined at all you don't know whether the creator just didn't care or whether it just doesn't apply. So in that sense a required field set to null is more explicit. So I think it's still valid to require important fields and let creators decide on them. The other question is whether pass_direction is important enough. During the discussions about the SAR extension it seem

[2019-10-28 17:30] lossyrob commented on #623
Feel free to crib some code from here if it's useful https://github.com/azavea/pystac/blob/develop/tests/utils.py#L122

[2019-10-28 17:37] lossyrob opened #624 "Inconsistent extension schema format"
There are inconsistencies in how the schemas inherit other requirements, e.g. an Item schema not inheriting the Item schema as a requirement.

For example, in EO, there is a `allOf` ref to Item, as well as internal definitions:

https://github.com/radiantearth/stac-spec/blob/master/extensions/eo/json-schema/schema.json#L6

In the label extension, we don't have that same `allOf` structure:

https:/

[2019-10-28 17:42] lossyrob commented on #624
I'd also recommend that as part of this, we maintain consistency in the extensions of placement for and naming of the schema file. To follow the schemas of the core objects, extensions should:

- Place their schema in a folder under the extension called `json_schema`
- Be named with the extension and the object the are extending, e.g.: `eo-item.json`, `label-item.json`

[2019-10-28 17:44] matthewhanson commented on #619
Well, it can be important, but it's important in general to any satellite based sensor, but is not in the EO extension.  It seems clear to me that we need a `sat` extension. Wrapping up sar, or eo fields with fields that are specific to satellites when there are more platforms that are on airborne platforms seems like a poor choice.

I get what you mean about having it be explicit, but it's strang

[2019-10-29 09:45] m-mohr commented on #624
The reason for the inconsistencies is simple. We don't have anybody who is the main instance to maintain the JSON schemas and people writing extensions do the schema often just as a side project without really knowing what they are doing as we also don't have any guidelines for that. So yes, fully agreeing with you. PRs are welcome.

[2019-10-29 11:52] lossyrob commented on #624
Great, thanks @m-mohr. My colleague @simonkassel fixed a few of these in the branch he mentioned in #618, and we are planning on fixing the rest as well.

[2019-10-29 11:55] m-mohr commented on #624
@lossyrob One thing I forgot: Please check back with @jbants regarding the restructuring. I think he renamed all extension schema files to schema.json at some point so that it works better with STAC validator. Not sure how much the validator relies on the structure.

[2019-10-29 14:23] matthewhanson commented on #624
I'm all for this, along with any sort of documentation/guidelines.  What I've done in the past when writing an extension is use another extension's schema as a template, fiddle with it a bit to generate some sort of Frankenstein schema that doesn't work, then @m-mohr goes and fixes it.

[2019-10-29 14:26] m-mohr commented on #624
Yeah, JSON Schema can be tricky at times. I'm usually using https://www.jsonschemavalidator.net/ to check the schemas against the examples when writing them.

[2019-10-29 14:50] lossyrob commented on #624
With https://github.com/radiantearth/stac-spec/issues/623 it should make ensuring extension schemas are correct as a necessary part of merging PRs.

@jbants I had some ideas on how to implement that, and want to touch base about the schema filenames. Will you be at the sprint? Maybe something we can hammer out in DC.

[2019-10-29 16:31] jbants commented on #624
@lossyrob Yup, I'll be there. Lets chat then.

[2019-11-06 19:47] cholmes commented on #42
Closing this. We have all the structures here to do this. Could add some best practices, though hopefully more of this type of thing comes from ogc.

[2019-11-06 19:47] #42 closed

[2019-11-06 19:57] m-mohr commented on #214
Decided on the sprint to be done in a custom extension (i.e. GEE already uses gee:type).

[2019-11-06 19:57] #214 closed

[2019-11-06 19:59] cholmes commented on #215
Closing this, don't think we'll support this. Could be done in an extension.

[2019-11-06 19:59] #215 closed

[2019-11-06 20:07] cholmes commented on #243
I think this is just an asset in our representation, which can be included. Could be good to write up more about it, but don't think it is a core stac spec thing.

[2019-11-06 20:07] #243 closed

[2019-11-06 20:08] scisco commented on #298
Will do this after the content and api are separated to their own repos.

[2019-11-06 20:14] m-mohr commented on #378
We should throw this in a best practice document for 1.0

[2019-11-06 20:17] #433 closed

[2019-11-06 20:18] #454 closed

[2019-11-06 20:26] m-mohr commented on #501
Related to #635

[2019-11-06 20:33] scisco commented on #557
I think my PR solves the version issue: https://github.com/radiantearth/stac-spec/pull/635

[2019-11-06 20:37] m-mohr commented on #501
Closed as duplicate of #557

[2019-11-06 20:37] #501 closed

[2019-11-06 20:39] m-mohr commented on #560
We leave this up to the author of an extension.

[2019-11-06 20:39] #560 closed

[2019-11-06 20:48] m-mohr commented on #613
We'll move datetime-range extension to core, remove the prefix.
datetime will still be required, datetime-range optional.
Extensions (e.g SAR, Video) that use datetime-range must say what datetime is (central, start, end, ...) (This is the todo here.)

[2019-11-06 20:53] m-mohr commented on #615
To be added as an extension.

[2019-11-08 19:18] m-mohr commented on #198
Was discussed during the sprint: We'll stick with objects, but use the key names more as id. For communication of the purpose of an asset, the a role property will be added (see #651 )

[2019-11-08 19:29] m-mohr commented on #555
Closed as duplicate of #356.

[2019-11-08 19:29] #555 closed

[2019-11-08 19:30] m-mohr commented on #356
Related PRs: #644, #639

[2019-11-08 20:20] philvarner commented on #308
Rebooting this conversation in light of the new asset-level "role" attribute.

Here's an example of how I'd see this working, with roles "overview", "thumbnail", "analytic", and "visual".  (open question - should roles be an array rather than a string?)

I feel a key part here is that I should be able to find assets by their description, without needing to know the implementation-specific, arbitra

[2019-11-08 20:28] m-mohr commented on #308
Yes, maybe it should. Similarly to the roles for the providers.

[2019-11-08 20:33] matthewhanson opened #652 "Add Implementations to Extensions"
In order to accurately assign maturity levels to all the Extensions, we need to have Implementations added for each one in the README of each extension.

[2019-11-08 21:31] matthewhanson opened #653 "Create diagram for viewing/sun geometry angles in view extension"
Working on creating a diagram clarifying the angles used in the view extension (#644 )

- view_angle
- incidence_angle
- azimuth_angle
- sun_azimuth_angle
- sun_elevation_angle

[2019-11-11 15:09] matthewhanson opened #654 "EPSG code"
We talked about the EPSG code in the `eo` extension, as it clearly is not specific to `eo` and seems odd to be there and not be in `sar` for instance (or in `pointcloud`) when it is equally applicable to any geospatial data.

It was also brought up that the projection could change per asset as well.

So what should we do with the EPSG code?

[2019-11-11 15:12] m-mohr commented on #654
Well, in theory it fits very well in the Proj extension: #485
That said, the Proj extension may have too many complex fields to be core although epsg code could be core.

[2019-11-11 15:19] matthewhanson commented on #654
Sure, it makes sense in that extension, but should it be in core?  And if in core, how do we reconcile how it can vary by asset?

I'm not convinced that it belongs at all, as I'm not sure of the use case where people are searching on it.

[2019-11-11 15:54] m-mohr commented on #654
Oh, you are thinking about removing it at all? Or more about making it asset specific?

[2019-11-11 17:49] matthewhanson commented on #654
I'm not proposing anything at the moment, wanted to see what other people thought about it, but yes I am wondering if it could just be removed, and people who want more specific proj info can use the proj extension.

[2019-11-11 17:50] m-mohr commented on #654
Sounds very reasonable to me.

[2019-11-11 20:43] matthewhanson opened #656 "Combining eo:bands into assets"
The original thinking for a separate eo:bands field for spectral data was that we could define the bands on the sensor, then reference those from the assets so that we would not have to repeat information when a band is used in more than one asset.   So we have an asset:

[code]

Then our bands property is:
[code]

However a few things have happened since then.

1. We now have an asset definition

[2019-11-11 21:12] matthewhanson commented on #619
Ok, I've consulted some folks and gone through the rest of the fields and propose dropping these:

- platform, constellation, instrument, pass_direction, relative orbit - all moved to `sat`
- absolute_orbit - proposing to drop this, doesn't seem to be a use case
- center_wavelength.  Feedback was that the majority of folks will be using the frequency_band code and unlikely to use wavelength or fre

[2019-11-12 10:32] m-mohr commented on #656
Sorry, I don't get it. Why is gsd still at the item level if it is asset specific? How is the relation between asset-level and item-level bands? Why is the band name missing from the asset-level band? Would I be allowed to also use other fields at the asset-level? Maybe a full item example would help...

[2019-11-12 11:14] m-mohr commented on #619
- I think I'm fine with dropping absolute_orbit.
- Not sure about center_wavelength/frequency_band.
- We can rename type to product_type, but there should still be specific examples such as grd, slc to lead the user a little bit.
- Polarization is required and needs to be searchable, which we don't yet have a solution for if it's in bands. Also, bands is not required for SAR at the moment. I can't

[2019-11-13 06:08] matthewhanson opened #657 "instrument extension?"
As discussed in #644 , the `platform`, `instrument` would be duplicated between `sat` and `aerial` extensions.

One alternative is to create another extension, called something like `instrument` that describes the names of the pieces that make up a data collected from instruments.

One might have:
- platform - REQUIRED string
- instruments - REQUIRED [string]
- constellation - a group of platforms

[2019-11-13 09:11] claxn commented on #619
I am not familiar with the STAC SAR metadata structure, but at least I can provide some comments from my perspective:

- I agree on introducing a `sat` extension, which allows us then to separate platform from sensor properties
- I also cannot imagine a use case where `absolute_orbit` is needed. Is there any drawback of just keeping it, even when it is not often used?
- Maybe it is better to state

[2019-11-13 10:34] m-mohr commented on #657
This sounds reasonable. Another idea would be to have very common fields such as these live alongside the item spec. Chris wants easy to read docs and I think we could also split non-required items fields and very commonly used fields as platform, instrument, ... and for example datetime_start/end together with title, updated, etc. into a categorized list of "core" fields in a separate document. I

[2019-11-13 10:50] m-mohr commented on #613
It still feels that by requiring a single instance in time we are moving a server implementation issue to the spec. I've now seen this another time in the PR for Tiled Assets #614 that the datetime just doesn't seem well used where a datetime range would be more applicable. And there are so many more use cases (timeseries, videos, ...).

[2019-11-13 16:59] anayeaye opened #659 "Widely used and stable core extension fields should be defined in item properties fields"
Some extension fields should be promoted to core fields so that they can be implemented without using an extension. These fields should be stable and widely used across multiple domains This issue is opened to discuss which fields will be promoted and what changes the promotion implies.

- Fields will be defined in a separate extended item properties fields specification page
- Fields will be incl

[2019-11-13 17:07] anayeaye commented on #659
Related PRs:
* #658 (instrument extension)
* #638 (dtr is core field)
* #644 (sat extension)
* #639 (aerial extension)
* #636 (extension maturity level)

[2019-11-13 18:10] simonff commented on #575
/sub

[2019-11-13 18:26] m-mohr opened #660 "Summaries and arrays"
At the moment, it is not so "nice" to include array values in summaries.

Let's say we have:
[code]

At the moment the summaries would look like this:
[code]

This makes sense whenever you don't see arrays strictly as lists, but add a special meaning, e.g. that it is a two-element array with a start and end time.

What we should do is to strongly recommend for extension writers to just use arrays

[2019-11-13 18:33] m-mohr commented on #657
Merged with #658, but will finally be solved with #659 .

[2019-11-13 18:33] #657 closed

[2019-11-13 18:34] m-mohr commented on #503
Has been merged.

[2019-11-13 18:34] #503 closed

[2019-11-13 18:36] m-mohr commented on #308
Should be solved with #651

[2019-11-13 18:36] #308 closed

[2019-11-13 18:37] m-mohr commented on #309
Solved with #651

[2019-11-13 18:37] #309 closed

[2019-11-13 18:39] m-mohr commented on #524
What's the todo here and who's working on it for 0.9?

[2019-11-13 18:39] m-mohr commented on #556
Done, see PR #p638

[2019-11-13 18:39] #556 closed

[2019-11-13 20:06] anayeaye opened #661 "Rename asset extension and consider promoting to core collection properties"
This issue is a placeholder for a discussion at STAC Sprint 5 regarding the asset extension. Asset is implemented in collection properties and allows users to discover the types of assets that can be searched for in a collection's items--such as individual geotiff bands.

1. The extension should be renamed something like `asset_definitions` for clarity.
2. The new asset `role` field used to explai

[2019-11-13 20:19] matthewhanson opened #663 "Add `description` to asset"
In the SAR extension sar:bands is really used to describe characteristics of different assets due to processing or collection configuration.

In that there was `description`, which seems more general than just SAR for assets in general.  Especially with an asset definition, `description` seems like it may be useful to better describe what an asset is beyond the title.

[2019-11-13 23:09] anayeaye commented on #661
#663

[2019-11-14 17:45] scottyhq commented on #619
Thanks @m-mohr and @matthewhanson for pushing this forward. I haven't worked with STAC since the 0.6 version, so I'm a bit behind the times. I'll try to experiment with the SAR extension this week in order to provide better feedback. In the meantime, a couple thoughts:

I'd say people use `absolute_orbits` fairly regularly when working with SAR data, but not necessarily for searching. As an exampl

[2019-11-14 18:14] m-mohr commented on #663
Asset descriptions could indeed be useful, although such descriptions could probably also live in the item description.

[2019-11-14 18:17] m-mohr commented on #656
Related PR, which had some discussions and was closed: https://github.com/radiantearth/stac-spec/pull/270

[2019-11-14 22:02] matthewhanson commented on #656
GSD is still at the Item level because it represents the best possible resolution across all bands for the Item. This change wouldn't affect that at all.

Leaving out band name was just an oversight.

Nothing here requires the use of an asset definition.

I'm not even convinced myself bands should be folded up into asset, but I thought it was worth discussing.  The problem that needs to be solved,

[2019-11-14 22:15] matthewhanson commented on #619
Thanks for the feedback @scottyhq that confirms what I was thinking.

Another thought I had was about the actual utility of `sar:data_type` and `sar:units` in the `sar:bands` object, see here: https://github.com/radiantearth/stac-spec/tree/dev/extensions/sar#band-object

One is that I'm not sure what data_type and units is really providing beyond the  `sar:product` field that is given at the Item

[2019-11-15 00:11] stringhamc commented on #619
@matthewhanson I've been confused by the combination of `sar:data_type`, `sar:units`, `sar:bands` and `sar:polarization` as well. I think `sar:bands` should be dropped and in place use`sar:polarizations` and instead have a polarization object. This would be different from EO, but would be less confusing to a user because there are some multi-band (ie multi-frequency) SAR instruments like SRTM, NIS

[2019-11-15 00:40] stringhamc commented on #619
I definitely like the separation of the `sat` fields from `sar`, and only keeping `sar:frequency_band`. I'd also second removing `sar:absolute_orbit`. InSAR compatible images can still be found with relative orbit, so `absolute_orbit` was redundant with `datetime` and `relative_orbit`.

[2019-11-15 04:50] ucalyptus commented on #663
Can I be assigned this? @anayeaye  @matthewhanson

[2019-11-15 16:52] jisantuc opened #664 "Unclear what to do for proprietary license with no url"
Per the collection spec, `license` is:

In the proprietary case, I `SHOULD` add a link to the license. But sometimes I don't have a link. Sometimes I'm just making a catalog and don't want to license it with a permissive license (e.g. I'm making a catalog out of data that someone else owns that I can't license in any particular way), but I also have no idea where a link for a proprietary license w

[2019-11-15 17:05] m-mohr commented on #664
Thanks for the thoughts, but I don't agree with them.

1. "unlicensed" would imply that the owner never chose a license, but what you indeed want to tell is that you don't know the license.
2. IMHO unlicensed data/code/whatever is not useful at all. If you don't know the license, you can't use it without getting in trouble. So the data is not of any use for the user.
3. I don't think a specificati

[2019-11-15 17:36] jisantuc commented on #664
Defensively, if I have some client data lying around that I need to make a STAC out of for testing or to ship to them, but I'm leary of it wandering off by accident (I can think of several non-malicious ways this can happen), I may be unable to attach a license. I know that I can use it, but I don't know that anyone else can. `proprietary` with no link says "there is a license that is attached to

[2019-11-15 17:52] m-mohr commented on #664
We made the field required by intention as we want catalogs to be licensed and useful. Unlicensed data is not very useful and I'm strictly against weakening this by allowing "unknown" (or not requiring the field). I wouldn't like to propagate such options in the spec. To find a solution for you, I'd probably just go with `proprietary` (or `various` if you prefer that) and link to a file that just

[2019-11-15 18:33] stringhamc commented on #619
It would be useful to get someone from NISAR's perspective... @piyushrpt?

[2019-11-15 20:15] jisantuc commented on #664
If that's the recommendation, then the `SHOULD` should be upgraded to a `MUST`

[2019-11-15 21:10] anayeaye commented on #661
This issue is only related to the links above if we will also include `role` and `description` in the `asset_definition` object fields.

[2019-11-15 21:19] matthewhanson commented on #664
I see how there is a need to indicate that the data is basically private. We already know of companies using STAC internally and they are not distributing it. It's basically for Internal Use Only, but most companies are not putting together a license for internal data.

So I think `proprietary` doesn't work, but I'm also not sure unknown or unlicensed captures what this is.   What about something

[2019-11-15 21:57] jisantuc commented on #664
Either of those would also work. I think the equivocation around `proprietary` ("this is mine" vs. "there's a special license that I can't show you") is where the confusion comes in, and `private` / `internal` would both do a better job forcing `proprietary` to pick a side imo

[2019-11-16 04:08] piyushrpt commented on #619
I'm not very familiar with the STAC SAR spec but here are some use cases for NISAR which we have found hard to find support for in publicly available SAR specs:

1. Support for contemporaneous multi-frequency acquisitions - S-SAR / L-SAR operating together. This is would be equivalent to having data from two sensors in the same product. It might be ok to treat this data as two different products t

[2019-11-17 22:36] matthewhanson commented on #664
I think private would imply (but should also be stated) that the data is private to the organizations given in the `providers` array.

[2019-11-18 05:30] matthewhanson commented on #619
This is some very useful feedback @stringhamc and @piyushrpt , thanks.

To the points @piyushrpt raised:

1. The easiest thing to do right now, without changes to the spec, is yes to keep those two different acquisitions as different STAC Items. Both could appear within a single Collection as each Item could specify the instrument, frequency_band, and center_frequency used for those assets. Howeve

[2019-11-18 05:33] matthewhanson commented on #619
Regarding the feedback from @stringhamc,

since `product` determines `data_type` and `units`, I would propose dropping those fields as well.  So in summary, I would now propose to:

- drop `sar:absolute_orbit`
- drop `sar:center_wavelength`
- drop `sar:data_type` and `sar:units` from the `sar:bands` object

We might further discuss bands and polarizations, but if the above is agreed on I can issue

[2019-11-18 07:30] m-mohr commented on #135
I'll work on this here: https://github.com/m-mohr/stac-upgrade-js

[2019-11-18 07:32] #557 closed

[2019-11-18 07:33] #592 closed

[2019-11-18 07:33] #615 closed

[2019-11-18 15:11] stringhamc commented on #619
@matthewhanson sounds good to me.

[2019-11-19 13:47] m-mohr opened #667 "Explain Catalog and Collection differences"
It seems that for some the differences between catalogs and collections are not clear. We should explain it better in the spec. So this is just a ToDo issue for me to explain it in the spec before 1.0.

Edit: Depends on #678.

[2019-11-19 16:30] #606 closed

[2019-11-19 16:50] m-mohr opened #669 "Explain how to use stac_extensions"
We need to clarify how to use stac_extensions. Especially with the Commons extension (see #665) it is not so clear where to put what.

Here's an example how it should work for an Item that and a Collection, which both use the Commons extension and the Item shares EO fields also in the Collection:

Collections stac_extension would be: `["commons"]`
Items stac_extension would be: `["commons", "eo"]`

[2019-11-19 17:28] m-mohr commented on #664
Discussion during today's telco: "proprietary" without link means "private". We need to explicitly mention this in the spec.

[2019-11-19 18:08] matthewhanson opened #671 "Clarify usage of Commons extension"
Add text to clarify how and when to use Commons extensions.

Commons extension makes more sense for static catalogs, and perhaps should also be mentioned in best practices.

For API, the API really should(?) always return the complete Item, including common properties.

Also make note from Commons extension that for describing a Collection the `summaries` extension is probably better suited than C

[2019-11-19 18:18] m-mohr opened #672 "EO: gsd -> resolution"
A thought from the working session:
Should we rename gsd to resolution?

I think that makes it easier to understand, so +1.

cc @matthewhanson

[2019-11-19 18:24] #216 closed

[2019-11-19 18:25] #356 closed

[2019-11-19 18:25] matthewhanson commented on #555
Added with instrument extension (#658)

[2019-11-19 19:06] matthewhanson commented on #672
I originally pushed for GSD (Ground Sample Distance) as a way to be explicit about what the term is.

In digital cameras resolution is often given "Pixel Resolution", as total pixels in x and y (e.g., 10,000 x 8,000).

Sometime sensors specify "Spatial Resolution" (such as in medican imaging and with scanners) and is given as pixels-per-inch (ppi), or more generally pixels-per-some-unit

For optic

[2019-11-21 17:22] #664 closed

[2019-11-25 10:59] m-mohr opened #678 "Check Catalog Definitions & Catalog Types"
1. There's a chapter about [Catalog Definitions](https://github.com/radiantearth/stac-spec/blob/master/catalog-spec/catalog-spec.md#catalog-definitions) in the Catalog spec. It seems outdated and needs some love.
  Especially the following part needs to be discussed. I think on the last sprint we said that these relations are not allowed, but the catalog spec mentions them:

2. Also, there's the c

[2019-11-25 11:12] #663 closed

[2019-11-25 12:16] m-mohr commented on #678
PR #677 tackles part 2.

[2019-11-25 12:18] m-mohr commented on #661
Point 2 is part of PR #677.

[2019-11-25 15:31] m-mohr opened #681 "Move Item Recommendations to Best Practices?"
There's a section "Recommendations" at the end of the Item spec. Wouldn't those things make more sense in the best practices?

cc @cholmes

[2019-11-25 15:44] matthewhanson commented on #681
Agree to put these in one place

[2019-11-25 22:58] #660 closed

[2019-11-26 14:04] #669 closed

[2019-11-26 14:04] m-mohr commented on #669
Has been solved with PR #677.

[2019-11-26 14:05] m-mohr commented on #671
Has been solved with PR #677.

[2019-11-26 14:05] #671 closed

[2019-11-26 14:20] m-mohr commented on #661
1. Is fine for me. What does this exactly include though? Also renaming the field name? Just the extension title? Or the folder?
2. Point 2 has been solved with PR #677.
3. I think it doesn't meed the criteria yet and I'd leave it as extension for now. Can be reconsidered for 1.0, I think.

[2019-11-26 15:48] anayeaye commented on #661
1. I think this is solved now, the extension rename to Asset Definition that is still stored in the 'asset' folder seems right.
2. Agreed.
3. Sounds right.

So I guess this issue is resolved unless we want to leave it open for 1.0 discussion.

[2019-11-26 16:10] #198 closed

[2019-11-26 16:18] cholmes commented on #681
Yeah, I think it makes sense to put all recommendations in one place, in best practices.

Reading the metadata linking section though, I think we should be sure to mention a couple key things in the main item spec:

1) The item spec is the core set of fields, and most any real world implementation will add in their own fields, either from extensions or defining their own. In my quick read of the m

[2019-11-26 16:25] cholmes commented on #678
Yeah, I think we can just remove Item -> Catalog and Item -> Item. Those relationships described should be handled by 'rel' links.

I think the rest of the document looks ok?

[2019-11-26 16:49] m-mohr commented on #678
Okay, i'll remove those two.

In general, the whole document is a bit strange IMHO as it explains the idea behind STAC, but for me it feels the actual specification file should only talk about the actual catalog file and how to structure it.
All the more general stuff should be explained centrally, I think. Either in the catalog readme or even on the front page or so.

[2019-11-26 17:12] jbants commented on #672
I'd prefer to leave it as GSD as resolution can mean many different things like Matt was suggesting. Another "resolution" example would be "spectral resolution" where we look at the resolving power of a band to identify features in the EM spectrum.

Leaving it as GSD is specific enough not to cause confusion with the other resolution types.

-1 for me

[2019-11-26 17:13] cholmes commented on #678
I see your point. I think it's valuable to have that overview - but perhaps we just split this out into catalog-spec.md (the description of the file) and catalog-overview.md (or something like that), where we discuss the idea behind stac and what a full fledged catalog is. I think we need that somewhere in the spec.

[2019-11-26 17:17] matthewhanson opened #685 "Asset specific metadata"
This has come up again in discussions on EO (#247) and SAR (#670).

In SAR we had `sar:bands` in the Assets, and with #670 it will be `sar:polarizations`, which is also an Item property.  And `eo:bands` is also a type of asset specific metadata.

So the question is, what sorts of fields are allowed in Assets?  Is it just these specific fields we allow, or do we want some ability to define other pr

[2019-11-26 18:03] m-mohr commented on #533
AS we removed the summaries and the JSON schema inherits now, I think it's not much of a deal any longer. We can probably link from Collection to Item for the Provider Object once #659/#682 is done and then there's not much left, basically just the Link Object.

[2019-11-26 18:03] #533 closed

[2019-11-26 19:00] afrank150 opened #687 "Use of "items" rel in collection"
For STAC users that have very large collections, especially when a collection is being continually added to, it is likely not feasible to add an "item" relationship for each item in the parent collection. The OGC API Features spec proposes the use of an "items" rel that would solve this problem by linking to a GET on _.../collections/{collectionId}/items_.  [Here](https://github.com/opengeospatial

[2019-12-03 16:55] matthewhanson commented on #654
We decided this could be removed from EO and belongs in the PROJ extension - #485

[2019-12-03 16:56] anayeaye opened #689 "Link objects are not validated in Collections"
We need to return link object to the json schema for collections

[2019-12-03 17:31] m-mohr commented on #672
Telco: Agreed to not rename it.

[2019-12-03 17:31] #672 closed

[2019-12-03 17:35] matthewhanson opened #690 "Moving eo:gsd into assets (remove eo:gsd)"
In working session, we discussed #685 and #656 , but could not come to a decision except we agreed that eo:gsd is not an attribute of spectral bands, since it can change due to processing.

Instead, `eo:gsd` belongs in the assets as an array to indicate the resolution of each band in the asset.

At the Item level, eo:gsd should either be changed to an array (to include all potential resolutions fr

[2019-12-03 17:38] anayeaye commented on #689
Link objects are validated in the [catalog schema](https://github.com/radiantearth/stac-spec/blob/master/catalog-spec/json-schema/catalog.json#L92) which the collection schema [inherits](https://github.com/radiantearth/stac-spec/blob/master/collection-spec/json-schema/collection.json#L8).

[2019-12-03 17:38] #689 closed

[2019-12-07 05:36] matthewhanson opened #691 "Make single file STAC catalogs like actual Catalogs"
The Single File STAC extension:
https://github.com/radiantearth/stac-spec/tree/master/extensions/single-file-stac

only contains Collections and Items. It's not an actual Catalog because it has none of the catalog fields:
https://github.com/radiantearth/stac-spec/blob/dev/catalog-spec/catalog-spec.md#catalog-fields

I recommend:
- renaming the "Single File STAC" extension to "Self-contained STAC".

[2019-12-09 13:09] m-mohr commented on #691
1. I think renaming it makes sense.
2. What's the benefit? A SFS is currently extending the ItemCollection spec, right? And now it should also extend Catalog? How do we handle conflicts? Are the stac_version/extensions fields inherited from catalog or ItemCollection? They allow different values...

[2019-12-09 14:04] m-mohr commented on #690
My question is how we define which fields are allowed in assets. Should it be all (common metadata model) or just a subset? How to determine, which are suitable and could be useful in other use cases?

Also, all things in assets can't be summarized in "collection-only" use-cases using the collection summaries. Therefore, I think it should also be defined on the item-level, but that would basically

[2019-12-09 16:38] matthewhanson commented on #691
The benefit of combining catalog metadata into a self-contained STAC is that it then really is a complete STAC catalog. I don't see any conflicts:

1 - The self-contained STAC is a catalog with all the normal fields, including stac_extensions which apply to the Catalog.
2 - It is also a FeatureCollection which means it has a 'type' field and a 'features' field
3 - the 'features' field is the list

[2019-12-13 10:14] m-mohr opened #692 "Limitations (Inconsistencies) of the operators in the STAC Query Extension"
I think there are some limitations due to how the operators (e.g. "eg", "lt", "startsWith") are defined:

[code]

Here's the example from the spec with the mentioned inconsistencies:
[code]

Problems I see at the moment:
* `lt`, `lte`, `gte`, `gt` can not be used with (temporal) strings. That means I can't search for all timestamps newer or older than x. Interestingly, the example (see below) cont

[2019-12-16 05:16] palmerj commented on #150
Any more interest in something like this?

I'm interested in an extension that provides for a collection of geotiff files that make up a Mosaic dataset. Looking at the existing data model I think a the existing STAC collection almost provides this. I would be interested in the following additional fields:

- Thumbnail asset - providing thumbnail link for the whole mosaic. Maybe [this](https://gith

[2019-12-16 05:30] palmerj opened #693 "Published/Created/Updated dates"
I'm interested in item/collection properties for:

- Created Date time | When the collection/item data was created
- Published Date time | When the collection/item data was published

Would there be a community appetite if I proposed an extension for this?

[2019-12-16 05:48] palmerj opened #694 "Data Use Constraints/Rights Property"
Following on from #133, would the community be open to adding another item/collection property for data use constraints?

This would support defining restrictions and legal prerequisites for using the dataset. These include any use constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on using the dataset.

The main use cases

[2019-12-16 10:11] m-mohr commented on #694
I think such constraints should be part of the license(s).

[2019-12-17 04:45] palmerj commented on #694
Doesn't always work this way. In many cases people adopt existing licences and then add additional permissions, warranties, disclaimers. This is done a lot for creative commons licences for example.

[2019-12-17 06:42] matthewhanson commented on #694
@palmerj could this be handled by using "various" as the license (see https://github.com/radiantearth/stac-spec/blob/dev/collection-spec/collection-spec.md#collection-fields) and providing multiple links with a role type of license? (see https://github.com/radiantearth/stac-spec/blob/dev/collection-spec/collection-spec.md#relation-types). Or do you think there's some information not captured here?

[2019-12-17 06:43] matthewhanson commented on #694
Maybe this calls for additional possible 'rel' types for things such as permission, warranties, disclaimers? Are there any existing IANA 'rel' types that make sense?
https://www.iana.org/assignments/link-relations/link-relations.xhtml

[2019-12-17 10:42] m-mohr commented on #694
IMHO a "common" license with additional custom restrictions is basically a separate new license derived from another license. CC with additional restrictions is not really CC any longer. So strictly speaking, it would be license set to "proprietary" and a link to the derived license text.

[2019-12-17 16:41] matthewhanson commented on #524
Moving this to 1.0, but if @lossyrob or @daveluo has some time to update for a 0.9 final we could do that.  Trying for a 0.9 RC1 release tomorrow.

[2019-12-17 16:48] #619 closed

[2019-12-17 16:52] #654 closed

[2019-12-17 16:56] matthewhanson commented on #690
Discussed in call:
- remove gsd from eo:bands

[2019-12-17 16:59] #656 closed

[2019-12-17 17:05] #678 closed

[2019-12-17 17:05] m-mohr commented on #678
@cholmes will create a new issue.

[2019-12-17 17:07] #685 closed

[2019-12-17 17:07] cholmes opened #696 "Split out catalog spec into two documents."
The catalog spec has much more exposition of what a catalog is than the other specifications, and it reads a bit weird now. We should split it out into catalog-spec.md (the description of the file) and catalog-overview.md (or something like that), where we discuss the idea behind stac and what a full fledged catalog is. I think we need that somewhere in the spec.

[2019-12-17 18:11] m-mohr commented on #587
Fixed in STAC API v0.9.

[2019-12-17 18:11] #587 closed

[2019-12-17 18:27] m-mohr commented on #692
I think we should solve this as follows:

I'd simply allow temporal strings by allowing `type: string, format: date-time` in addition.

I'd simply allow integers, too.

Remove the providers entry from the examples. We can't search on providers at the moment.

Don't tackle this yet, wait for CQL.

I think this must the any of and can simply be changed.

[2019-12-18 02:55] palmerj commented on #694
Depends on your view of what is proprietary, but yes it is it's not strictly CC anymore. Still this is case in real world applications, and in these cases there are no links to reference.

[2019-12-18 09:39] m-mohr commented on #694
Exactly, proprietary for me is any license that is not on the SPDX license list and any derivate from CC is obviously not on that list.
For static catalogs, you could create a file with your additional restrictions in your catalog and link to it. If you host an API, you can usually create an endpoint returning your license.
I think we discussed having license texts in STAC once at STAC sprint 3, b

[2019-12-18 11:35] palmerj commented on #694
Ok, I think you have twisted my arm. However, I would say the use of "proprietary" label seems misleading for my applications. We are technically using a slightly modified version of the CC-BY license which the users to freely copy, modify, and distribute the data as long as the data is not used for specific regulated navigation purposes (we have other products for that). IMHO when I think about a

[2019-12-18 11:35] #694 closed

[2019-12-18 12:30] m-mohr commented on #694
Indeed, proprietary can be somewhat misleading. I hope clients expose the title of the link with rel type `license` instead of proprietary so that one gets around that misunderstanding.

[2019-12-18 23:25] anayeaye opened #700 "STAC API Filter Parameter: Spatial Covers"
For some use cases it is important to restrict search results to items that cover a provided geometry--such as the case where multiple Sentinel-2 items intersect the provided geometry but not all provide data for the entire geometry.

The language to describe this spatial relationship needs to be evaluated, this is just to capture:
Parameter: covers (or contains)
Type: GeoJSON Geometry
APIs: STAC

[2019-12-19 06:34] palmerj commented on #150
Also just came across this [catalog layout ](https://github.com/radiantearth/stac-spec/blob/v0.8.1/best-practices.md#catalog-layout) best practise:

I think in regards to mosaics it best that tile items are not stored in subdirectories. I understand this practise for very large catalogue of datasets that contain one tiff file per band.

[2019-12-19 18:07] m-mohr commented on #692
All urgent issues haven been fixed.

[2019-12-19 18:07] #692 closed

[2019-12-20 03:35] matthewhanson commented on #691
Still need to work out the issue of conflicting definitions of ItemCollection and Catalog, as this would be an amalgam of the two. Pushing to 1.0

[2019-12-20 10:09] #690 closed

[2019-12-20 10:09] m-mohr commented on #690
See PR #703

[2019-12-20 16:18] m-mohr commented on #693
Related issue: #351

[2019-12-20 20:20] #659 closed

[2020-01-06 16:38] anayeaye commented on #700
Definitions
* Simple features specification [CONTAINS](file:///Users/alexandra.kirk/Downloads/99-049_OpenGIS_Simple_Features_Specification_For_SQL_Rev_1.1%20(1).pdf)
* [OGCAPI CQL](https://github.com/opengeospatial/ogcapi-features/blob/master/extensions/cql/resources/catCql.bnf)

[2020-01-07 22:10] m-mohr opened #709 "Asset Role Type for data"
Is there a recommended Asset Role Type for the actual data? We only have thumbnail, overview and metadata specified, but as an implementor I would also look for something like data or so. If we don't want data, we should clarify what should be used for data.

@matthewhanson answered on Gitter:

=> We need to add this to the list of Asset Role Types.

[2020-01-08 16:12] #709 closed

[2020-01-08 17:04] sharkinsspatial opened #711 "Inconsistency in STAC.yaml and api-spec.md for search endpoint supported methods."
The [STAC.yaml](https://github.com/radiantearth/stac-spec/blob/dev/api-spec/STAC.yaml#L137) has been updated to reflect `GET` as an optional method for the `/search` endpoint but the [api-spec.md](https://github.com/radiantearth/stac-spec/blame/dev/api-spec/api-spec.md#L18) seems to only show `POST` support?  I could just be misreading it but should this be updated to reflect the new optional `GET

[2020-01-08 17:12] m-mohr commented on #711
The whole section is a bit confusing, I think. The section title is "HTTP Request Methods and Content Types" but the text is basically only describing which content types are supported so I'd propose to change the title to "HTTP Content Types". The text just says that you can use some content types with POST /search, but it doesn't say it's not allowed to use GET. It just doesn't specify a content

[2020-01-08 17:33] m-mohr commented on #711
Hey @philvarner, I think you wrote the section "HTTP Request Methods and Content Types". I'm trying to understand the "HTTP Request Methods and Content Types" can you explain it? I don't get it. What POST endpoints is spoken about? What does the bullet point about GET tells me? I think we should clarify that section.

[2020-01-09 15:21] m-mohr opened #713 "Data Cube Extension: Variables and more"
Two things came up recently that could be integrated into the data cube extension:

1. Add variables in addition to dimensions. Some data cubes expose variables, some don't. We don't need this for openEO (yet?), but Google Earth Engine @simonff would probably use them. I'm also looking at netCDF and other formats, which afaik support variables as addition to dimensions. Maybe there's space for ali

[2020-01-09 15:39] m-mohr commented on #713
Re 1: GEE uses the following fields for variables: name, description, a data type (double, string, ...) and sometimes (i.e. should be optional) "precise or estimated min/max" are available.

[2020-01-09 15:45] rabernat commented on #713
Thanks for opening the discussion @m-mohr. I'll like to esm-collection-spec here: https://github.com/NCAR/esm-collection-spec/

This is something we hacked together to provide a STAC-inspired catalog of our cloud-based Zarr climate model data. This is how we are currently cataloging the [Google Cloud CMIP6](https://cloud.google.com/blog/products/data-analytics/new-climate-model-data-now-google-pub

[2020-01-09 15:57] m-mohr commented on #713
@rabernat I think this will take us multiple steps and probably two extensions or so. First we would probably work together to align the data cube extension to be flexible enough for your use case and then add another extension for additional domain-specific and/or format-specific things. One primary question to answer is probably whether your data would better be a STAC Item or Collection.

For t

[2020-01-09 20:10] joshfix opened #715 "Add item properties composition document"
Item properties can be composed from required core properties found in the item spec, optional common properties found in the common metadata document, and any number of extensions from the extensions directory at the root level.  It seems like a bit of a hunt -- you have to know where to go to find all of the info/options if you're trying to piece together a collection.

I proposed restructuring

[2020-01-09 20:16] philvarner commented on #711
I'll take a look at it

[2020-01-09 21:41] joshfix opened #716 "API spec documentation, examples, and 0.9.0 changelog confusion re:pagination"
I'm working my way through the changelog to update Staccato and found something quite confusing before I really dug in and figured out what was going on.  Under `Changed`, there is an entry:
[code]
There is a nearly identical entry under removed.  There is nothing under added.  The api spec markdown doesn’t address the new way in which pagination is supposed work.  I happened to find the explanati

[2020-01-09 22:24] joshfix commented on #716
Looking into this a bit deeper, I don't see a way to pass a token to GET the next set of results any more since the `next` search parameter has been removed:

https://github.com/radiantearth/stac-spec/blob/master/api-spec/STAC.yaml#L150-L154

The [examples document](https://github.com/radiantearth/stac-spec/blob/master/api-spec/examples.md#paging) shows the next link having the parameter `?page=2`

[2020-01-10 00:40] palmerj commented on #150
Anyone interested in this?

[2020-01-10 10:58] m-mohr commented on #150
@palmerj From previous work on other extensions, it's often a good idea to just start a draft and put it up as PR. Afterwards, we can get people to review it, asking explicitly for help from domain experts and asking for help on Twitter. Asking here may not get you enough attention.

[2020-01-10 10:59] m-mohr commented on #715
We started improving it a bit here: https://github.com/radiantearth/stac-spec/pull/712#discussion_r364639913

[2020-01-10 11:13] m-mohr commented on #716
The thing is, you can use whatever you like. Use any parameter or header, just provide it as link with rel = next.

In general, I agree we should add a section describing this in detail to the API spec.

[2020-01-10 13:37] joshfix commented on #716
So use whatever header names you like?  I'm not clear on the "use any parameter" part.  GET parameters have to be explicitly defined, and I don't see any parameter defined that will let me pass in my next token in a subsequent GET request.

[2020-01-10 13:48] m-mohr commented on #716
@joshfix Only your implementation knows what you need for pagination, whether it's a header, body or parameter. Let's say you want to use pageToken. You specify that in the next link, for example: `{ href: "http://exam.ple/api?pageToken=asdf", rel: "next" }`. Then your implementation can read the pageToken. Clients just follow the next link. If a header or method is specified, they also need to ta

[2020-01-10 14:12] joshfix commented on #716
Ah, makes much better sense.  Definitely think we have some documentation improvements that need to be made here.  I can take a stab at this next week.

[2020-01-14 18:49] cholmes commented on #687
Hey @afrank150 - sorry for the slow response on this.

But I don't think we should go down the route of supporting 'items' in the core STAC catalog. It makes lots of sense to me in the API, as `items/` is the dynamic endpoint that you can query, and the collection returned to you is generated on the fly. But I view the API as an extension to the core that allows querying.

For the core I think an

[2020-01-22 14:13] #716 closed

[2020-01-23 16:44] philvarner commented on #711
This is a change from my previous view on this -- I think we should now do the following:

* GET w /query params is **required** (maybe some discussion around how this works with a geometry?)
* POST w/ JSON is **optional** but highly recommended (e.g., your service is compliant but pretty trash if you don't implement this)
* POST w/ application/x-www-form-urlencoded is **optional** but recommended

[2020-01-23 19:38] cholmes commented on #693
Just working on my Planet STAC mapping, and we have updated and published (in addition to 'acquired', which maps to STAC datetime). Would be nice to use a shared definition for these for sure.

So @palmerj - a proposal for these would be great, and I'd try them out in my Planet stuff and give feedback. I'm not sure of your difference between created and published, but happy to see the full proposa

[2020-01-23 20:05] matthewhanson commented on #693
We have added `created` and `updated`, meaning when the metadata was first created, and when it was last updated.  They are in the common metadata for Items:
https://github.com/radiantearth/stac-spec/blob/master/item-spec/common-metadata.md

In using these however I do wish the terms were a bit more clear.  `created` and `updated` imply to me a True/False, or Yes/No.    `created_at` and `updated_a

[2020-01-23 21:06] joshfix commented on #711
IMHO, I think GET and POST w/JSON should both be required.   I honestly don't care about the other two at all, they can both be optional.  I was able to implement both of the latter, however, with a [single method in Staccato](https://github.com/planetlabs/staccato/blob/0160aab900e758e9244317c7f1925b5dd9a48868/staccato-main/src/main/java/com/planet/staccato/api/ApiApi.java#L36-L38).

[2020-01-23 21:26] cholmes commented on #711
I think philosophically with STAC we've settled into requiring as little as possible for a first implementation, and for us 'strongly recommended' does mean 'you should really do this'.

Though on the other hand I've been comfortable with STAC API requiring a bit more, since those who don't want to implement it can just do the core and point other API's at it.

I think I lean a bit to making it op

[2020-01-24 01:22] rbavery opened #720 "Broken link to best practices page on website"
https://github.com/radiantearth/stac-spec/blob/master/catalog-spec/catalog-best-practices.md

[2020-01-24 12:43] m-mohr commented on #693
I disagree. I don't find them confusing and they are aligned with many other standards, e.g. Dublin Core and DCAT, which also just use the verb without any suffix. Although, they use these terms usually to specify dates about the data (i.e. assets) and not the metadata. That's something we may need to change. I guess it could be an option to rename them to metadata_created or so and leave created

[2020-01-24 15:01] rmmariano opened #721 "Add new metadata key on the specification"
Hello everyone,

I was looking for a way of inserting metadata on the 0.7.0 version of STAC, such as limit and page in order to do pagination, however I did not find anything to help me on the specification. If this resource exists on the documentation, please tell me.

How I did not find this resource on the specification, I would like to suggest it on the STAC standard officially.

For example,

[2020-01-24 15:32] m-mohr commented on #721
For STAC 0.7 it seems we haven't specified it (i.e. it was not supported at that time). So in 0.7 your are probably stuck with that, except you adopt a proprietary extensions like Development Seed did. For STAC 0.9 it is available here: https://github.com/radiantearth/stac-spec/tree/v0.9.0-rc1/api-spec/extensions/context and I guess it's best to switch to that version?!

[2020-01-25 00:31] palmerj commented on #693
Thanks @cholmes. I'm on holiday for the next month, but when I return I will put a proposal together, as well as for #150 (Needed for our full use case).

@m-mohr I like this idea.

[2020-01-25 17:13] davidraleigh opened #722 "Extensions for airplanes and drones"
Haven't been a part of planning in a while, so maybe this is already under discussion, but it seems like the only fields that should be included in `sat` are `orbit_state` and `relative_orbit`. Everything else was better off staying in an electro-optical message.  If you fly a plane or a drone, now you're forced to split your elctro-optical information between `eo` and `sat`, and most of your rele

[2020-01-25 18:02] matthewhanson commented on #722
The division of sat information out of EO was because all those fields were also present in the SAR extension as they all specific to satellite geometry and movement.  It made sense to have a separate extension that could be used by both EO and SAR, and for pointcloud, full-motion video or other future content extensions for that matter.   Those extensions relate to the type of data, whereas the s

[2020-01-25 18:30] davidraleigh commented on #722
I see how the overlap with `sar` would result in folding those into another more generic field that wasn't just `eo`.

Maybe instead of `sat` it should be named `sensor` or `aerial-sensor`. As far as I can tell these `sat` fields are relevant to aerial surveys:

[code]

[2020-01-28 22:39] cholmes commented on #722
@davidraleigh - you definitely know drones / planes better than us, so thanks for sounding in.

I think our main question on those fields, as @matthewhanson alluded to, was whether drone / aerial defines them in the same way as satellites. We thought they define them more relative to the aircraft, instead of from north. If you can confirm that the definitions of those sat fields are the exact same

[2020-01-28 23:27] cholmes commented on #711
@philvarner - are you up to make a PR on this? Or does anyone else have additional comments? @m-mohr @sharkinsspatial @matthewhanson @scisco

[2020-01-29 09:11] m-mohr commented on #711
Well, I'm leaning towards not requiring but recommending, too. My reasoning is simple: openEO implements STAC API, but doesn't expose items and thus can't implement /search and the .../items endpoints in a meaningful way. Not having items is valid in a static catalog and as such should also be valid for the API. Actually, I'm thinking we should expose links with rel type search in the GET / respon

[2020-01-29 15:17] philvarner commented on #711
Thanks for the comments. I'll create a PR today.

[2020-01-31 13:25] rmmariano commented on #721
Which proprietary extension have Development Seed adopted?
I'm going to talk with my team related to switch to STAC 0.9.
Thank you for your useful hints.

[2020-01-31 14:22] philvarner commented on #711
@m-mohr Are you saying all of these are only recommended, even GET?

Are you saying we need to add the "expose links" spec somewhere? I thought having rel=search was already in the API spec? I'm using it here: https://eod-catalog-svc-prod.astraea.earth/api/v2/.

[2020-01-31 15:46] m-mohr commented on #721
Proprietary in the sense that they added their own custom fields which are not standardized publicly.

We leave the technical details of pagination open to implementors so in many cases there are no page numbers, but other things like tokens or offset values or so.

[2020-01-31 15:49] m-mohr commented on #711
Yes. Otherwise I'd just implement this endpoint to always returns an empty result set as I'm not exposing items.

I think we should specify somewhere that adding links with rel search should be provided. I couldn't find a place where we do that in STAC API. Good that you have implemented it already!

[2020-02-03 16:29] m-mohr opened #726 "Expose search endpoints in capability links"
Splitting from https://github.com/radiantearth/stac-spec/issues/711#issuecomment-579662883: We should add that if the search endpoints are implemented, there must be links to them in links array in the capabilties document `GET /`. Basically like it is for `/collections` with the `data` rel type.

[2020-02-03 16:37] #721 closed

[2020-02-03 16:39] m-mohr commented on #715
What else needs to be done here, @joshfix ?

[2020-02-03 16:44] m-mohr opened #727 "Change sortby parameter in GET requests"
Over at Gitter we discussed that the `|` separator between field name and sort direction (asc, desc) doesn't work well as it's not encoded in some Browsers. So @matthewhanson @joshfix and me thought about reusing the structure (+/- and field name) from the fields extension.

`-` is descending
`+` is ascending
No prefix defaults to ascending as it's the default in most DBMS (or we require +/-)

[2020-02-03 23:54] joshfix commented on #727
This is a silly little nuance, but I do remember somebody having an issue with this method defaulting to ascending.  I think an (easier?  more convenient?) way of thinking about this is that we aren't actually defaulting the order to ascending, but instead, the user is implying the plus sign by not explicitly specifying it, the same way that `$5` it's implied/assumed to be `+$5 and not `-$5`.

Aga

[2020-02-04 00:11] davidraleigh commented on #693
Just adding in my ideas about this from what we've had for protobuf. For a while now we've been using `observed`, `processed`, and `updated` (where `observed` maps to the `datetime` field)
https://github.com/nearspacelabs/stac-client-python#stac-item-comparison

I sort of like `processed` rather than `created` because creation may suggest the moment the data was collected by the sensor(s). Whereas

[2020-02-04 00:38] m-mohr commented on #727
Fine for me. :-)

[2020-02-05 14:08] davidraleigh commented on #722
Spoke with a contact from [Ursa](https://www.ursaspace.com/) who told me that there was no need for sun information in SAR data analysis. So moving `sat:sun_azimuth_angle` and `sat:sun_elevation_angle` out of electro-optical extension for the benefit of SAR doesn't seem to make much sense. Maybe other SAR users would care to comment?

updated recommendation:
`eo: [gsd, cloud_cover, bands, sun_azim

[2020-02-06 12:03] m-mohr opened #730 "STAC-extensions.yaml broken"
There's an issue with our STAC-extensions.yaml:
https://stacspec.org/STAC-ext-api.html

[2020-02-06 12:04] m-mohr commented on #730
Also, there's a white space issue as discussed here: https://github.com/radiantearth/stac-spec/pull/728#discussion_r375696139

[2020-02-06 17:39] joshfix commented on #715
I think it's probably good.  At least the item spec now links to common metadata, extensions, etc.

[2020-02-06 17:39] #715 closed

[2020-02-06 17:48] #727 closed

[2020-02-06 18:31] #566 closed

[2020-02-06 19:47] davidraleigh commented on #722
I spoke with a VP/engineering lead at Near Map. And the summary was that there wasn't any clearly defined consensus on how to describe off nadir / oblique angle imagery within the community. That as far as he knew, there was no such definition within [ASPRS](https://www.asprs.org/) or other photogrammetry imaging research organizations.

Our definition of `off_nadir` coincided with the way that Ne

[2020-02-06 22:38] cholmes commented on #722
Thanks a ton for the research on this @davidraleigh - the near map reference is really great to have. The conclusion was that if near map were to adopt STAC they could easily translate what they're doing into our off_ndair and azimuth definitions? If so that's great (and we should try to get them to implement STAC :) )

I think your proposed eo and sat groupings make sense - and yes, I can't see w

[2020-02-07 09:14] m-mohr commented on #726
I realized that this is already partly in the API spec. I clarified it and also added that links to both GET and POST must be made now that the `method` is available in links.

[2020-02-07 09:33] m-mohr commented on #711
@philvarner @joshfix @cholmes and others involved here: While working on PR #731 I realized that the API and README are diverging. The API clearly says:

and

I guess we should align the README or decide to define it differently also in the API spec.

My personal opinion is that the API spec should be left as is (/search is optional) and change the README accordingly. Reason as stated above is tha

[2020-02-07 17:41] #726 closed

[2020-02-07 17:41] #730 closed

[2020-02-07 18:49] cholmes opened #732 "Add x-www-form-urlencoded recommendation"
In #724 we agreed that it would be good to have `x-www-form-urlencoded` as a recommendation. But we decided to take it out for RC2 because it is not specified anywhere, and has no explanation as to why someone might use it.

With that text it should easily get back into the spec, but we want to get rc2 / 0.9.0 out asap.

[2020-02-07 20:10] davidraleigh commented on #722
@cholmes I totally agree that either `overhead_sensor` or `capture_angles` (maybe abbreviated as `os` or `ca`?) are better descriptors than something too vague. Quick question and I'll stop being a pain; is the `_angle` suffix necessary?

I know maybe we don't need more information about this, but I got an update from an image scientist from Descartes Labs and a photogrammetry research professor f

[2020-02-07 21:37] geospatial-jeff commented on #722
From my experience working with aerial providers (Nearmap included!) those angles are consistent across aerial/drone for images projected in a geodetic coordinate system.  The one exception I can think of is [LTP coordinate systems](https://en.wikipedia.org/wiki/Local_tangent_plane_coordinates) which are typically used for oblique imagery but would be better off in their own extension (if that eve

[2020-02-08 17:15] davidraleigh commented on #217
@m-mohr, I was thinking about this comment by @geospatial-jeff:
https://github.com/radiantearth/stac-spec/issues/722#issuecomment-583625507

@geospatial-jeff just a question about the LTP. Could you use a custom Lambert Azimuthal Equal Area projection?

I use LAEA and oblique mercator often and I wonder if a way to work with custom projections and staying in compliance with the "REQUIRED" quality

[2020-02-10 08:26] m-mohr commented on #217
I'm not sure, I think things should be unambiguous. At the moment you can set epsg to null if no suitable code exists and then use wkt2/projjson to specify the custom projection.

This PR should have been closed already with the introduction of the proj extension. Maybe your proposal is better placed in a separate issue?

[2020-02-10 16:01] matthewhanson commented on #722
Thanks for doing some additional reaching out onthis @davidraleigh, it's great to get additional feedback and consensus.

I like the overhead sensor extension, and makes sense to have it separate from the `sat` extension if we can use it for drones. However, for an extension that contains various collection geometry angles, it seems like the natural place to include the sun angles as well. While i

[2020-02-10 18:44] davidraleigh commented on #217
Ahhhh, never mind @m-mohr . I didn't know that the field could be set to null and still be valid. Somehow I thought that would go against the **Required** quality for `proj:epsg`. Sorry for the misunderstanding, feel free to close this issue!

[2020-02-10 19:06] #217 closed

[2020-02-12 09:09] #711 closed

[2020-02-12 20:19] joshfix opened #738 "Extension title/name/prefix definitions are a bit confusing"
The extensions directory contains a table that lists all of the extension names and prefixes, however the "name" value is actually a "title" and not the name that should be used in the extensions field.  Additionally, each extension's readme doesn't always clearly state what the prefix is even though it's included in parenthesis after the title.  The only clear documentation on what value to use f

[2020-02-14 05:21] izevaka commented on #722
@davidraleigh Thanks for bringing this to our attention. As a way of introduction, I look after the APIs and Integrations at Nearmap. I can offer some background about how we do oblique images in general terms.

There are a lot of metadata attributes associated with frame camera off nadir images that go beyond the azimuth and inclination angles. The combination of those attributes allows translati

[2020-02-14 19:47] beck3905 opened #741 "Can items belong to multiple collections?"
Currently the item spec has the `collection` field which is a string.  Could this be a list instead?  It seems possible that an item could and should belong to multiple collections.

[2020-02-14 20:49] davidraleigh commented on #722
@m-mohr and @izevaka

So this looks like the beginning of a separate aerial mapping extension, right?

[2020-02-16 18:46] matthewhanson commented on #722
Maybe, it depends on if it's useful having this information within the STAC metadata rather than getting it from an original metadata file.

The primary goal of STAC is to facilitate search and discover, so the first question is are any of these fields something a user would search on?  If not, including the source metadata as an asset might be better.

On the other hand, some extensions have been

[2020-02-16 22:01] izevaka commented on #722
@matthewhanson With regards to searching, the only things that you'd realistically want to search on is by projected extent (derived piece of data, which I failed to mention in my earlier post). I.E give me all photos that cover this particular point/area. Having had a look at the spec, the detailed metadata fields seem way too specific for the standard, so I think having all that as vendor specif

[2020-02-17 09:27] m-mohr commented on #741
No, that's not possible at the moment. Indeed, there's theoretically the possibility to add two collection links, but the collection field doesn't allow a list of values. Just making it a list is not just that as it would/could lead to conflicts with the commons extension. What do you think @matthewhanson ?

[2020-03-02 17:03] matthewhanson opened #747 "Split off API into new repo"
Split off api-spec folder into a new repo: https://github.com/radiantearth/stac-api-spec
which can then be versioned separately.

[2020-03-02 17:06] matthewhanson opened #749 "Remove API checklist item from issue template"
With API spec moved to new repo, this can be removed from the issue template (and should probably be added into https://github.com/radiantearth/stac-api-spec issue template)

[2020-03-02 17:45] m-mohr commented on #749
Not 100% sure about this, I think there should still be a reference to API spec. How do we ensure that the API always catches up with recent changes in the "core" spec (e.g. update collection fields or so)?

[2020-03-02 18:23] matthewhanson commented on #747
PR has been merged to remove api-spec.

Leaving issue open as still need to update all links/references in repo

[2020-03-03 23:18] cholmes opened #750 "Create OpenAPI document for core stac spec"
It'd be useful to have an OpenAPI document that shows the core 'browse' catalog functionality in this repository, to give another view of how it can be implemented. Should ideally enable both 'collection only' examples, as well as 'item' ones, that are just linked to with 'child' links, not implementing /items and /search endpoints.

[2020-03-04 00:48] cholmes commented on #749
Sorry, made the PR before I saw @m-mohr's comment. But this is just the line in the template that says 'I have run `npm run generate-all` to generate the files'.

I could see how we may want to use PR templates to help make sure people are updating the api spec. But I also could see that its the responsibility of the api spec to update fields / examples when it does a release. And it can choose th

[2020-03-04 00:54] cholmes commented on #135
STAC Browser currently does not work with multiple versions afaik. Cc @vincentsarago

[2020-03-04 08:49] m-mohr commented on #750
A browseable catalog is mostly Hypermedia links and thus OpenAPI is not really suitable for this. OpenAPI needs fixed paths, but browseable catalogs don't have that. For Hypermedia stuff an option could be JSON Hyper-Schema or so...

[2020-03-20 21:16] cholmes commented on #741
I'm inclined to say that there are others ways to model this with the current structure, and that it keeps clients a lot simpler if they don't have to check multiple collection links and try to interpret what that means. Like it seems to imply multiple inheritance potentially, which may be useful, but also is a lot more complicated.

I'd say if the desire is to represent the same 'thing' in multip

[2020-03-23 16:57] #749 closed

[2020-03-23 16:58] #738 closed

[2020-03-24 18:54] cholmes commented on #693
@palmerj - any movement on this? We need it at Planet too, and I'm setting some time aside next week to work on it. Would be happy to start with your proposal, or we can take a crack at one.

[2020-03-25 05:50] palmerj commented on #693
Hi @cholmes sorry really busy this week. If you want to take a crack now that would be great. Otherwise I can take a look from next Wednesday

[2020-03-31 15:36] bdelliott opened #755 "STAC API spec validity?"
The STAC API OpenAPI definition references an external JSON schema document for the GeoJSON definitions, which is disallowed by the OpenAPI v3 spec:

From section 4.7.24.1 (http://spec.openapis.org/oas/v3.0.3#properties)

The problem lines are:
- https://github.com/radiantearth/stac-spec/blob/master/api-spec/openapi/STAC.yaml#L620
- https://github.com/radiantearth/stac-spec/blob/master/api-spec/op

[2020-03-31 15:45] bdelliott commented on #755
Just realized the api-spec has been split off into a different repository.  I will re-submit this over there instead.

[2020-03-31 15:45] #755 closed

[2020-03-31 15:48] bdelliott commented on #755
https://github.com/radiantearth/stac-api-spec/issues/8

[2020-04-01 10:11] m-mohr commented on #747
- [x] Update all links
- [ ] Move API recommendations from STAC best practices to API best practices (e.g, parts of "Versioning for Catalogs")
- [ ] ...

[2020-04-02 06:16] matthewhanson opened #756 ""grids" extension"
There is a PR open for a "grids" extension: #688 , but there was no corresponding issue.

The grids extension is meant to provide information on the size in pixels and geolocation for each asset:
For each asset:
- the size of the 2 or 3-dimensional array stored within the file, as reported by rasterio or GDAL
- the "geo-transform" array - a 6 element array indicating the top left native pixel coor

[2020-04-02 06:18] matthewhanson commented on #756
This extension is only going to be useful if used in conjunction with the `proj` extension, as that provides data on the native projection that the geo-transform units are provided in.

I don't find the name `grids` very helpful in determining the purpose of this extension.  I would propose either renaming it to something more descriptive such as `geo`, or better yet to combine it with the `proj`

[2020-04-02 06:20] matthewhanson commented on #722
I believe this has been resolved by splitting off fields from `eo` and `sar` into the `sat` and `view` extensions.

There were other potential issues raised here, please open as new issues if still pertinent.

[2020-04-02 06:20] #722 closed

[2020-04-02 06:27] matthewhanson commented on #693
We currently have these properties:
- created: when the metadata record was generated
- updated: when the metadata record was last updated
- datetime: when the observation occured
- start_datetime: when the observation started (optional)
- end_datetime: when the observation ended (optional)

Proposed have been a `published` datetime and a `processed` datetime. We discussed this at the STAC mtg and

[2020-04-02 06:37] palmerj commented on #693
Hi @matthewhanson we were mostly interested in the published datetime (when the user sees the data) of the data. That is usually very different that the observation creation time. OK with the other logic

[2020-04-02 09:08] m-mohr commented on #693
I'm wondering: If you update the metadata, so you also update a "published" field? Or would someone may need a "first_published" and "last_published" analogue to created and updated?

[2020-04-02 19:06] matthewhanson commented on #756
cc @abhijeetkumarga @alexgleith @cholmes

[2020-04-02 23:52] alexgleith commented on #756
Hey @matthewhanson, I have no problem with merging it in with the `proj` extension.

I don't think `geo` is any better than `grids`, though.

[2020-04-03 02:09] cholmes commented on #756
I agree that geo is no better than grids. And my first reaction is that
merging with proj also makes sense, but want to think on it a bit more.

On Thu, Apr 2, 2020, 4:53 PM Alex Leith <notifications@github.com> wrote:

[2020-04-03 07:39] palmerj commented on #693
Yes interesting thought. like the idea of first and last published. I guess if you are updating the data published and created data, then by implications the metadata date also need to change.

[2020-04-05 09:16] p3dr0 commented on #693
they are two different dates, as mentioned in #351

and both must be available in the catalogue

[2020-04-06 17:04] cholmes commented on #693
@palmerj - The current definition of 'created' in the [commond metadata section of the spec](https://github.com/radiantearth/stac-spec/blob/v0.9.0/item-spec/common-metadata.md#metadata) is: 'Creation date and time of the metadata file. This is NOT the timestamp the asset was created.' So in my reading, and talking to Matt, it's really what you and I think of as 'published'.

@p3dr0 - we do have up

[2020-04-06 18:28] cholmes commented on #421
Moving to beta2 - focusing beta1 on getting the spec out the door in the shape we believe will work, and then focus on validating / ecosystem stuff after that.

[2020-04-06 18:30] cholmes commented on #661
What remains open for 1.0? Whether to promote it to core collection properties?

[2020-04-06 18:30] cholmes commented on #661
Moving to beta2, as I think we'd want some feedback in beta1 and see how widely it gets used.

[2020-04-06 18:34] cholmes commented on #298
@scisco - we're split now, any chance you could tackle this in the next few weeks? Is in line with #704 - would be good to get everything clean for beta1

[2020-04-06 18:42] cholmes commented on #750
Ok, will just close this then.

[2020-04-06 18:42] #750 closed

[2020-04-06 21:41] cholmes opened #757 "Extended Metadata Extension"
One idea discussed recently has been to specify a common way for STAC implementors to add extra fields in a familiar JSON structure without needing to put it in the core STAC record.

Details may shift as we get into it, but general outline is something like:

* Specify an 'extended_metadata.json' asset that can be included as one of the assets in a STAC record.
* It is a stac-like json structure,

[2020-04-07 09:05] m-mohr commented on #757
From a client perspective this sounds like a bad idea. If you are looking for some specific properties, you must load all data anyway and then look in both files. That adds complexity and I'm not sure about the complexity yet. What's the advantage of splitting? I don't see it yet. It's not that the files are overly complex or large at the moment... So for now I'm strongly against this.

[2020-04-07 09:13] m-mohr commented on #298
That's probably something we could easily do for 1.0.0 final, it's just polishing things up.

[2020-04-07 15:08] cholmes commented on #757
Well it's really for data fields that we've been saying 'those don't _really_ belong in STAC', and giving people a place to put them. Right now the only fields that really qualify I believe are in the proj extension - necessary for loading data. And the ones were talking about in #688 - shape (rows and columns) and transform. I could see things like radiance coefficients going in there too, and ot

[2020-04-07 15:25] scisco commented on #298
I can tackle it in the next few weeks. Although, Matthias suggests we should not do it at this point.

[2020-04-07 17:31] tomkralidis opened #759 "provide merged JSON/YAML schema"
Currently, JSON schemas are available for each specification (catalog, collection, item).

Would it be valuable to have an "all-in-one" JSON (and/or YAML?) schema to be able to point to from an application?

[2020-04-08 18:03] m-mohr commented on #298
I'm just thinking that doing it now would lead to duplicate work as we'd need to check it now and would probably check it again for final.

[2020-04-08 20:00] scisco commented on #298
yeah, it totally make sense.

[2020-04-08 21:01] cholmes commented on #298
Cool, sounds good. I'll set this for 1.0.0-RC1, as that seems like the right time to do it.

[2020-04-09 02:32] matthewhanson opened #760 "Asset specific metadata"
A few of us had a quick discussion today relating to asset specific metadata: the ability to specify fields that are Item properties on a per asset basis.

It's discussed here in the context of the proposed "grids" extension:
https://github.com/radiantearth/stac-spec/pull/688#issuecomment-609910006
but could apply to other fields as well.

We concluded this was a good feature to have, with the fol

[2020-04-09 02:40] matthewhanson commented on #756
Just a note that most of the discussion here is within the PR #688

@Kirill888 @alexgleith

We discussed and will be proposing #760 , which will allow STAC assets to override properties that are described at the Item level.   Also agree that the grids extension is better merging with proj.

So now, the new fields from the grids extension become simpler, just two new fields to be added to an Item:

[2020-04-09 02:46] Kirill888 commented on #756
@matthewhanson sounds good to me.

[2020-04-09 11:03] m-mohr commented on #760
This seems mostly complete, although it doesn't clearly state how the related between asset-level metadata and common metadata + extension fields is. There's a potential conflict between the "title" fields, should be mentioned at least. Also, what's the take on things like eo:bands that differs between properties and asset level? I think that needs some thoughts and explanation. And then we probab

[2020-04-09 14:00] m-mohr commented on #760
We just had a use case where we have to put the "datetime" field into the assets (i.e. export of a single band time series), which IMHO is reasonable to do although STAC Items are more modeled for single datetimes. And that makes me think of #613 again. ;-)

[2020-04-12 21:10] cholmes opened #762 "Remove Commons metadata / rework bands object"
Opening an issue for discussion that came up on our last STAC call - considering removing the '[commons](https://github.com/radiantearth/stac-spec/blob/v0.9.0/extensions/commons/README.md)' extension. A few reasons came up:

* It's confusing, to have 'commons extension' and '[common metadata](https://github.com/radiantearth/stac-spec/blob/v0.9.0/item-spec/common-metadata.md)'
* We now have 'summar

[2020-04-12 21:37] cholmes commented on #693
Ok, must made a PR at #763 to propose 'published'. Just want to keep this discussion moving and reach a conclusion.

As I think about it more I like 'published' because it is less confusing when it's just next to 'datetime' (our main default field). I worry that if we have 'created' and 'datetime' that people will think that 'created' means 'acquired' (which is what our generic 'datetime' means).

[2020-04-13 00:43] palmerj commented on #693
Thanks @cholmes. I'm not thinking about the creation date of the asset, rather of the date that the data was published (added to the catalog) for user consumption. In the lifecycle of our data, we have: collect -> store -> publish for use. In many cases, the data is collected/capture many months before it is released to users.

For me that sounds ok. For our use case, our users don't need the "met

[2020-04-13 02:43] cholmes opened #766 "Clean up warnings / work in progress notes"
The spec has had a lot of warnings about how it's a work in progess and may change. As we move to 1.0-beta1 we should tone those down - emphasize that things can change and encourage people to give feedback, but also let people know things are pretty stable.

[2020-04-13 03:15] cholmes opened #767 "Migrate implementations to stacspec.org"
Listing implementations in the spec repo is a bit weird since any tagged release version won't have any implementations at the time of its release, so they're always pointing at older versions. A more appropriate place for implementations is stacspec.org, and there we can note what version they implement.

So we should remove implementations.md, update stac-site repo (https://github.com/radiantear

[2020-04-13 12:16] m-mohr opened #768 "PR Checklist: Add checkbox for dev/master"
We often get PRs for master instead of dev, which is in most cases wrong. I guess it could be a good idea to add another entry to the PR checklist that reminds the user to make PRs against dev. Something like...

(Please propose something better.)

[2020-04-13 13:28] cholmes commented on #768
Ah, great idea. I can take this on and refine the text.

On Mon, Apr 13, 2020, 5:16 AM Matthias Mohr <notifications@github.com>
wrote:

[2020-04-13 14:47] matthewhanson commented on #762
Some additional thoughts:

The Commons extension served two purposes originally.

One was to present users with what fields were the same across all Items in a Collection. As @cholmes points out the summaries extension now does that in a better way. Fields with a single value have a summary of one value, but can also includes summaries of all the fields.

The other was to avoid redundancy. However

[2020-04-13 15:01] m-mohr commented on #762
If you are exposing data as cloud API / service as Google and openEO do, you don't really want to expose the structure of the assets to users so that's why assets won't work well. What we do is to just specify the bands in the summaries as with all other fields. (+ openEO uses the data cube extension and bands are a dimension.)

So, just having bands in assets is not ideal and we discussed last ca

[2020-04-13 15:04] matthewhanson commented on #741
The use of the 'Commons extension really makes this a major headache, as it means you would have to consider inheritance from multiple items.

However, we are discussing removing the Commons extension, which makes this much easier. But I agree with @cholmes I'm not sure if there's a real need for this.

[2020-04-13 15:46] m-mohr commented on #741
If Commons goes away, I guess the only issue to make it more flexible is to make the `collection` property in the Item an array (or remove it altogether and use the link references somehow).

[2020-04-13 16:08] matthewhanson commented on #741
A common query on Items is to find all Items belonging to a certain collection. This is more difficult if the server must parse the entire links array to find collections....and it's also not guaranteed that the collection link includes the collection ID - you'd have to follow the link to get the collection ID.

[2020-04-13 21:32] m-mohr opened #773 "Document CI checks for local use"
Document all the command you can run on the command line to check the markdown, links, API etc.

Should be done for both the stac spec and the api spec.

[2020-04-14 02:59] cholmes commented on #667
@m-mohr I could probably take this on if you can give me an idea of where people were confuse.

[2020-04-14 03:02] cholmes commented on #652
Changed this to beta2, to give implementations a bit more time to come online. I'd propose we should count everything from 0.9.0 onwards, since we had the major reorganization at that version. Though I could be ok to count some older catalogs...

[2020-04-14 03:03] cholmes commented on #524
@lossyrob or @daveluo - any chance of getting this in soon? We're aiming to do 1.0.0-beta1 pretty soon, would be good to get this in and solid.

[2020-04-14 03:05] cholmes commented on #687
I'm going to close this, as I don't think we are going to offer an items rel in the core stac spec. Perhaps it would be good to have some best practices for extremely large catalogs, but I think it's just dividing your sub-catalogs up in a way that they can be updated iteratively.

[2020-04-14 03:05] #687 closed

[2020-04-14 03:20] cholmes commented on #713
I'd really love to get ESM and STAC aligned, and I think the time is now as we're going to go 1.0-beta soon. I agree with the path @m-mohr lays out - first get the data cube extension to be flexible enough, and then add in an another extension for the specifics.

@rabernat - could you help Matthias understand your requirements? Perhaps we could jump on call sometime soon and try to sort it? Take a

[2020-04-14 03:32] cholmes commented on #757
@m-mohr - any more thoughts? Or we can carve at time in our next call. I'm happy to write this up, but won't if it is a really bad idea.

The use case for me is to put in all the information in an landsat MTL file in a modern json structure. Landsat needs backwards compatibility, so will stick with the MTL. They did translate the MTL directly into JSON, see https://prd-wret.s3.us-west-2.amazonaws.

[2020-04-14 03:36] cholmes commented on #762
We talked about this on the 4/13 call and agreed that the bands in assets is not ideal, and the path forward is just to move the bands object to the collection level. The structure would stay the same, it'd be defined in the extension (so not something that confuses people who are using stac for non-eo purposes), and it would live as a top level catalog thing. There is precedence already for other

[2020-04-14 08:39] m-mohr commented on #762
I forgot about that yesterday: What happens for Items that don't have collections? Do they still list bands in properties? I'm just thinking about the use case Seth pushed earlier (single items) and I'm using now in openEO, too. That's basically what we added providers and license for in common metadata. Having bands only at the collection level would break that use case.

[2020-04-14 08:59] m-mohr commented on #757
Yes, sorry, I forgot to comment here.

What my biggest concern is that things will be mixed between the files and clients don't know where to get data from. If you can freely move around fields in properties between the files, you'll end up that STAC clients most of the times need to load both files anyway and then there's no real benefit. You could simply put it directly into the STAC file. For e

[2020-04-14 09:39] m-mohr commented on #713
In the next weeks I'll have a look at
* openEO
* netCDF
* CoverageJSON
* OpenDataCube
* ESM (@rabernat ?)
and probably some more data cube things and will try to align them. Any help is highly appreciated. I'm not so much into many of these formats.

[2020-04-14 10:07] m-mohr commented on #667
Oh, I'm just trying to remember the exact issues. I think the question to answer is: When to use Catalogs? When to use Collections? I don't think this is easy to explain, but here are some thoughts....

Other organizations call collections as follows (based on a [CEOS document](http://ceos.org/ourwork/workinggroups/wgiss/access/opensearch/)): dataset series (ESA, ISO 19115), collection (CNES, NASA

[2020-04-14 10:19] m-mohr commented on #693
Maybe we should do something like a timeline and check what is available, needs to be added and could be useful... Something like:

1. Data captured -> `datetime` (and `start_datetime` / `end_datetime`)
2. Data stored -> N/A
3. Data updated -> N/A
4. Data published -> N/A
5. Metadata created -> currently: `created` / later: N/A
6. Metadata updated -> `updated`
7. Metadata published -> currently: N

[2020-04-14 10:44] m-mohr commented on #421
I guess this is obsolete once we remove the Commons extension as discussed in #762

[2020-04-14 12:23] m-mohr commented on #667
I feel like this may actually be placed here: https://github.com/radiantearth/stac-spec#in-this-repository (or at least that section should be improved, too). Is probably also related to #696 - The catalog-overview.md introduced in #772 may be better suited at the top-level if collections got added. It's actually kind of strange that the catalog overview doesn't mention collections at all, probabl

[2020-04-14 14:57] rabernat commented on #713
Thanks for keeping this discussion alive, and sorry for my slow responses. I'll tag a few more Pangeo folks to help move the conversation along: @jhamman, @andersy005 (who maintains [ESM collection spec](https://github.com/NCAR/esm-collection-spec/) and [Intake ESM](https://github.com/NCAR/intake-esm)) .

Let's use the [CMIP6 Google Cloud data](https://console.cloud.google.com/marketplace/details/

[2020-04-14 15:49] jhamman commented on #713
I'd also be happy to join a discussion to see how we can move these efforts along/together. Wednesday afternoon (expect 1-2p PT) and Friday after 1p PT are free for me.

This is possible now following https://github.com/NCAR/esm-collection-spec/pull/15. I find this single-file collection to be the easiest example to comprehend: https://github.com/NCAR/esm-collection-spec/blob/master/collection-spe

[2020-04-14 18:02] m-mohr commented on #713
Thanks for all the information. I'll use them in the next days and try to figure out how to combine boths specs.

I'm happy to join a call, but 1pm PDT is 10pm here in Europe, so that's too late unfortunately. Would be better to find something in the morning (PDT) next week or so.

[2020-04-14 19:01] cholmes commented on #762
I thought Seth had been fine with breaking that use case when we got the single file STAC extension. Like to just have one file where you have a collection + item (though I forget if it ever achieved that goal).

If we do want to support it I suppose we could just say that bands object can also be inserted at the properties level.

[2020-04-14 19:34] cholmes commented on #757
Cool. Overall I agree that the spec has all the main things we need, and am fine to experiment outside the spec. If Planet goes down this route then we can just publish what we do in a separate repo and see if it evolves to something useful.

For some specifics:

So for Planet this really comes down to cost. We're actively removing some of our fields in our data api because every single field has

[2020-04-14 19:52] cholmes commented on #693
Yeah, I think the timeline is quite useful. It could be good to articulate the exhaustive list and make an 'extension' that has all the options that one might want. And then Common Metadata would have the two most used - updated and either created or published, with a recommendation to use it for most cases.

I think your list does highlight the confusion at least for me - what does it mean to hav

[2020-04-14 20:53] m-mohr commented on #762
So we can also remove license and providers from the common metadata? I like that... ;-)
Whatever we do, it should be consistent. So if we add bands to collections and not to items, I'd remove at least providers (and probably also license).

Agreed.

[2020-04-14 21:06] cholmes commented on #762
Yeah, I had thought we got there, though perhaps am misremembering, or maybe I dreamed it.

[2020-04-14 21:13] cholmes commented on #713
I could do monday 8am-10am pacific, or tuesday 7:30-8:30am pacific.

[2020-04-14 21:28] m-mohr commented on #713
I could do Mondays 9-10 AM PDT or Tuesdays 7.30-8.30 AM PDT. For For Tuesdays I need to know it 5 to 6 days in advance, because I need to shift another meeting. @rabernat @jhamman

[2020-04-14 22:04] jhamman commented on #713
Both of these time slots work for me.

[2020-04-15 10:22] m-mohr commented on #757
Yes, I think that's a good idea. See https://github.com/radiantearth/stac-api-spec/issues/19

Indeed, although the same applies for the proj extension, for example. The issue is probably that people put into the "main" item what is useful for their use case and others put it into the "extended" file. So you end up with many places you need to look at, which feels like a nightmare to implement and

[2020-04-15 10:30] m-mohr commented on #693
Yeah, metadata created / updated / published is a bit difficult, but I just came up with all I could imagine at the time of writing. Now I realize there's actually different phases of publication you may have... something like published internally (could be simply `created`) and publicly (could be simply `published`) or so. It's really up to how organizations work with their data. I guess this is

[2020-04-15 11:55] m-mohr commented on #713
I tried to come up with an example to base discussions upon, based on:

* [this ESM spec exmaple](https://github.com/NCAR/esm-collection-spec/blob/master/collection-spec/examples/sample-pangeo-cmip6-collection.json)
* STAC Collections
* STAC Data Cube Extension
* STAC Asset Extension
* an envisioned new STAC ESM extension
* the infos from @rabernat above

For more details see also the comments in

[2020-04-15 12:05] m-mohr commented on #713
Thanks for all the information, it helped to work on the example above.

That seems pretty complex to model. We need to check closely whether we can abstract it into the data cube extension or add this to the ESM extension if desired.

Understood, although STAC collections require you to specify the extent. So you could always set it to worldwide.

It still has a temporal extent it covers, right?

[2020-04-15 15:25] cholmes commented on #713
Agreed, and I think even though it's not interesting or important to you, it is important for a general person looking for geospatial information to know that this particular set of data is global. But setting it worldwide in all cases I think is totally valid. And it does seem like there are multidimensional cubes / netcdf data that isn't global sometimes?

+1 - I see the win here as getting the

[2020-04-15 15:43] rabernat commented on #713
This is more-or-less what the ESM collection spec [does now](https://github.com/NCAR/esm-collection-spec/blob/master/collection-spec/collection-spec.md#collection-specification). At the top level, we still have a json file, which points to this csv file.

This is all covered by CF conventions: http://cfconventions.org/cf-conventions/cf-conventions.html#calendar

An important thing to note here is

[2020-04-15 17:12] m-mohr commented on #713
Sure, let's do it then. Here are the Zoom details:

[2020-04-15 22:36] cholmes commented on #713
On my calendar - thanks!

[2020-04-16 08:18] m-mohr commented on #713
Yes, I had looked at the spec when coming up with the example. It tries to borrow as much as possible from there.

Interesting. We need to figure out what needs to be exposed and how. Would someone search on this data?

Yes, STAC doesn't replace the original metadata files, but exposes the search / discovery related data in JSON. So there is indeed some intentional duplication. We need to figure o

[2020-04-16 08:39] m-mohr opened #778 "Thumbnails for Collections?"
Anyone has a good idea how we could incorporate thumbnails for collections? We have them for items, but we have some cases where we want to directly give some examples for collections.

Two way I could see here:
1. Add a link to a thumbnail with rel type [`preview`](https://www.iana.org/assignments/link-relations/link-relations.xhtml) and image type `image/jpeg` (or gif/png). Currently clients don

[2020-04-16 08:51] m-mohr opened #779 "Collection-level assets"
This issue is to capture some ideas, thoughts and related issues on collection-level assets. This came up several times in the past and we should document our thoughts and decisions.

Recently, collection-level assets came up in the following issues:
* #713: How to expose ZARR data?
* #778: How to expose collection thumbnails?
* #614: How to expose tiled assets? (There it was decided to go for a s

[2020-04-16 13:21] rabernat commented on #713
A Zarr array or group is not a single file / object. It is a collection of json files and binary objects, stored with a standard layout. So it is not meaningful to talk about a media type for Zarr.

In other words, a Zarr array or group is analogous to a STAC collection, and the individual chunks analogous to STAC items. This overlap in scope is one reason I have a hard time mapping Zarr to STAC.

[2020-04-16 13:24] m-mohr commented on #713
Aha, I wasn't aware of that. That makes some of my considerations above obsolete. Let's see how we can go forward...

[2020-04-16 13:29] rabernat commented on #713
Over the past year, I've spent quite a bit of time reading and trying to understand the STAC spec and its extension. In order to make Monday's meeting as productive as possible, I encourage you to do the same with the [Zarr spec](https://zarr.readthedocs.io/en/stable/spec/v2.html).

For context, Zarr recently received a [CZI EOSS Grant](https://chanzuckerberg.com/eoss/proposals/scalable-storage-of

[2020-04-16 21:06] matthewhanson commented on #713
Just catching up on this - I'll join the call on Monday as well.

To @rabernat's point about Zarr being multiple files, while that's true you don't reference the individual pieces....that is they aren't individually addressable as files. You reference the entire Zarr dataset, so in that sense I think that maybe a media type might make sense for Zarr.

One idea that had been brought up before was a

[2020-04-17 08:45] m-mohr commented on #713
The meeting details above were not correct. It said it's Sun, 19th, but of course we meet on Mon, 20th.

[2020-04-24 15:26] rabernat opened #781 "Zarr Extension?"
Following up on the discussion in https://github.com/radiantearth/stac-spec/issues/713, I thought it would be good to raise a standalone issue about how STAC may interact with the [Zarr](https://zarr.readthedocs.io/) format. Zarr is a storage protocol for multidimensional arrays + metadata. (Think an alternative to HDF). It began with a python implementation, but, using the [Zarr V2 Spec](https://

[2020-04-24 15:36] m-mohr commented on #781
Short of time at the moment, so just a heads up to some issues:

I'll support you on this for sure. I already tried to get this into STAC, but was rejected: #613. Hopefully it's getting on the agenda again.

I feel like Zarr groups would mostly be collections or catalogs and Zarr arrays would be items, but that's more a feeling than anything profound.

This sounds a bit like a use-case for #757.

[2020-04-24 16:24] cholmes commented on #781
So I'm still not sure about having a default item have a single value and a time range on the same footing, where implementors can just pick either and clients then have to know about both and be able to handle either. I think we should do one by default - we originally did have a range, but it felt weird there too to shoehorn everything into a range.

What I *am* very much for is extensions being

[2020-04-24 16:44] cholmes commented on #781
As for general responses on zarr:

I think the key thing for us to figure out in STAC is whether a datacube (zarr or otherwise, thinking netcdf fits too) that has tangible assets should be defined as a Collection or an Item.

* Collection we'd need to add 'assets' at the collection level.
* Item we'd need a stronger / clearer way to define it with a range.

These both feel like critical things to

[2020-04-26 03:59] matthewhanson commented on #779
Overall I agree that having Collection level assets could be useful.  I think thumbnails are a valid use case here, as are Zarr or other similar types of formats that represent a large collection of data spanning a very large region (such as the whole global) that are traditionally represented as individual tiled files.

However, I think the `asset` extension is clearly a different thing entirely.

[2020-04-26 04:01] matthewhanson commented on #778
I think if it were only for thumbnails then having it as a link would be good, but if we have a use for other collection level assets, such as using the Zarr format, then thumbnails should be specified as assets to be like collections.

[2020-04-26 04:02] matthewhanson commented on #756
This has been changed, and merged, to add fields to the proj extension rather than a new `grids` extension.

[2020-04-26 04:02] #756 closed

[2020-04-26 04:06] matthewhanson commented on #394
This is rendered obsolete because we are removing the Commons extension #762

[2020-04-26 04:06] #394 closed

[2020-04-26 04:12] matthewhanson commented on #747
The split has been done, opening up new issue for moving API recommendations out of here to stac-api-spec

[2020-04-26 04:12] #747 closed

[2020-04-26 04:14] matthewhanson opened #782 "Move API recommendations to stac-api-spec"
Move API recommendations from STAC best practices to best practices in stac-api-spec (e.g, parts of "Versioning for Catalogs")

[2020-04-26 04:16] matthewhanson opened #783 "Move eo:gsd into common Item metadata"
gsd (ground sample distance), a measure of resolution, is useful for other data types beyond those using the `eo` spec.

This should be moved from `eo:gsd` to `gsd` and appear in the common-metadata for an Item.

[2020-04-27 05:23] #768 closed

[2020-04-27 18:24] #681 closed

[2020-04-27 20:21] m-mohr commented on #779
@cholmes @matthewhanson So how do we proceed regarding the Zarr dicussion and upcoming mini-sprint? All my examples and thoughts went towards collection-level assets and I still think that's a good idea. If you think it's better going forward with Items, you should propose a new example and we should also start doing PRs for whatever needs to be changed (datetime changes?) or at least make a list

[2020-04-27 20:29] cholmes commented on #779
Hrm. I think it's probably just best to proceed with collection-level assets. I'm comfortable with an extension that does collection level assets, and that could help with making the case for them in the core. Zarr is the most compelling real case I've heard for collection assets, though I still don't understand exactly what is most useful. We have a future item to investigate zarr at item level.

[2020-04-27 21:52] #783 closed

[2020-04-27 21:54] m-mohr commented on #779
Okay, that sounds good to me although I'm not sure we really change all that much later on once things are implemented in 1.0...

So then `asset_summaries`? ;-)

[2020-04-28 09:15] m-mohr commented on #713
As we are not going to use it in the ESM spec, I'm delaying the work on this until beta 2 and will focus on other more pressuring issues first.

[2020-04-28 09:18] #421 closed

[2020-04-29 15:42] matthewhanson commented on #762
After discussion this morning with @anayeaye @jbants and @m-mohr we came to a more flexible solution here for bands object.

We're closing #785 without merging.  eo:bands stays at the Item properties level, which makes it useful for eventual search or inclusion into summaries.   With #760 the eo:bands can be specified for a specific asset, so the index referencing can be removed.  If you want to s

[2020-04-29 22:11] m-mohr commented on #613
Recent discussions lead to the idea to allow `null` for datetime if start_datetime and end_datetime are specified.

[2020-05-01 03:31] cholmes commented on #762
Just a note - whenever you do the commons extension removal be sure to remove this paragraph in the collection spec:

It's the second paragraph. Not sure how that got in there without even an indication that you need an extension to do this (unless I'm reading it wrong?).

[2020-05-01 03:56] cholmes commented on #782
Maybe I'm missing it, but I don't see much at all that should be moved. The versioning extension does refer to STAC API, but it's just saying it's sharing the mechanisms. There is also reference to 'dynamic catalogs', but to me STAC API is 'search', and one can implement a catalog as an API. So we talk about that in the best practices, but I think that's appropriate.

I'm going to close the issue,

[2020-05-01 04:02] #782 closed

[2020-05-01 09:50] m-mohr commented on #762
I guess we forgot to change this when moving this behavior from core to the extension.

[2020-05-01 16:46] matthewhanson commented on #760
closed with #788

[2020-05-01 16:46] #760 closed

[2020-05-01 16:49] matthewhanson opened #789 "Cleanup Item asset specific metadata, add to best practices"
The recent PR #788 that adds in the ability to define Item properties for individual assets includes potential use cases and language that is better off under Best Practices.

[2020-05-01 16:53] matthewhanson commented on #661
The asset definition extension has been renamed to `item-assets` and the field name is now called "item_assets" - see #787 .

I agree that it probably belongs in core - but let's leave it as an ext for beta1.
Closing this issue since the renaming happened, and we can open new issues for promoting extensions to core for beta2 or final.

[2020-05-01 16:53] #661 closed

[2020-05-01 17:45] m-mohr commented on #789
Should also tackle https://github.com/radiantearth/stac-spec/pull/788#discussion_r417642024

[2020-05-01 19:46] cholmes commented on #789
Ok, just made PR #790 - but I wasn't quite clear on what the action is from the comment on 788 that you mentioned @m-mohr ? If you explain it a bit more in the ticket I can add it in, I just felt like I didn't have the full context and wasn't sure if the stuff to link to has landed?

[2020-05-01 22:12] cholmes opened #791 "Move itemcollection spec to stac-api-spec?"
In the [itemcollection spec](https://github.com/radiantearth/stac-spec/blob/v0.9.0/item-spec/itemcollection-spec.md) we say:

I think it makes sense to remove it from stac-spec core and just put it in stac-api-spec repo? I'm not that has more implications though.

[2020-05-01 22:18] cholmes opened #792 "Make datetime nullable for stac items for which a nominal datatime makes no sense"
As discussed on the call on april 27, we want STAC to be able to represent data cubes and Zarr (#781), so we should relax our requirement that a datetime is needed - a time range should be used instead. The solution we liked was to make it required, but allow a 'null' value.

I believe we said if a null is there then the start_datetime and end_datetime are required.

I'll take this on to start, bu

[2020-05-01 22:37] m-mohr commented on #791
It's also used by the Single File STAC extension though...

[2020-05-01 22:38] m-mohr commented on #792
I'll take on the schema.

[2020-05-01 23:58] cholmes commented on #791
Hmmm... That is a reason to keep I suppose.

I could see just defining it in sat-api-spec and then referencing it from the extension. If that extension gets wide adoption then migrates to core I could see bringing it back in.

So slight preference to do that (or even just define it in the collection). It just reads weird right now to have something in the core item spec folder that isn't used by a

[2020-05-02 08:21] m-mohr commented on #791
See #484 for some historical context. I agree that it makes more sense in API spec, but other people obviously disagreed.

[2020-05-02 08:43] m-mohr opened #795 "Make JSON Schemas more strict (require fields)"
The JSON Schemas for some extensions (at the moment view, likely eo in the future) don't require any fields. Thus a validation against view without having any view: fields in the Item will pass. Also, you can specify whatever other fields that are invalid and it still passes. I think for all extensions that don't require any fields we should at least require that at least one of the fields is ther

[2020-05-04 15:52] cholmes opened #796 "update or remove how-to-help.md"
The 'how to help' document last had a commit 6 months ago, and hasn't really been updated in probably longer.

We should either remove it from the repo (maybe migrate the idea to the website, or maybe into stac-utils or something, as it's more about the ecosystem), or update it.

[2020-05-04 17:27] m-mohr commented on #613
Will probably be tackled by #792

[2020-05-04 17:30] m-mohr commented on #792
Just wanted to make the schema for it, but there's a bit of an issue as datetime is in the item spec and start/end_datetime are in the common metadata. Could we move datetime to common metadata or the other timestamps to the Item spec? As we are about to have a dependency between these fields, it seems also better to list them together in the documentation. I guess we prefer moving start/end_datet

[2020-05-04 17:31] #613 closed

[2020-05-04 18:07] cholmes commented on #792
Hrm... Yeah, actually putting them in the item-spec.md at the exact same level is right over the line for me - I want it to be clear that 'datetime' is the core way. I'm ok to mention and link to them in the item-spec. And I'm ok if we put it in the schema because there's no other way to validate it. I don't think we actually need a one to one from item-spec.md to the item spec schema. To me the i

[2020-05-04 18:16] m-mohr commented on #792
This separation sounds quite confusing. You require datetime, but if it's set to null go somewhere else to figure out the other fields required in this case? With adding null as accepted value you already show a second option in the item spec, but it's then written somewhere else what you need to use such an option. You can still say what is the recommended way of doing it. You can't just hide the

[2020-05-04 18:50] cholmes commented on #792
I'm not saying hide the null option. I should probably write the text and then we can debate it. But what I was thinking for the line would be:

| Field Name | Type   | Description                                                  |
| ---------- | ------ | ------------------------------------------------------------ |
| datetime   | string | **REQUIRED.** The searchable date and time of the assets,

[2020-05-04 18:56] m-mohr commented on #792
That's okayish, I don't quite think it makes sense to refer to extensions here as we can't enforce this (and I personally would just use it without any extension).

| Field Name | Type   | Description                                                  |
| ---------- | ------ | ------------------------------------------------------------ |
| datetime   | string\|null | **REQUIRED.** The searchable da

[2020-05-05 07:47] #766 closed

[2020-05-05 07:48] #667 closed

[2020-05-05 07:48] #696 closed

[2020-05-05 08:09] m-mohr commented on #789
Nevermind, I think it will be part of a separate PR from @matthewhanson that will establish behavior in the asset defintion extension to export "larger" properties like eo:bands into the asset definition of a collection.

[2020-05-05 08:41] m-mohr commented on #792
Okay, I gave it a try here so that we can discuss on something more concrete: #798

[2020-05-05 09:03] m-mohr opened #799 "Item Asset Definition extension: Don't specify the required fields?"
Based on PR #745: There were thoughts whether it's really good to require title and type. You may want to specify other fields, so maybe it's better to just require two fields, regardless of which they are exactly? You could enforce this in JSON Schema with `minProperties: 2`.

So I'd propose to:
* Remove "required" flags from the fields in JSON Schema and README of the item asset definition
* Add

[2020-05-05 14:10] brianbancroft commented on #667
@m-mohr sorry that I missed this.

Yes this does help a lot!

[2020-05-05 21:50] m-mohr commented on #792
ToDo:

[2020-05-06 07:51] #789 closed

[2020-05-06 07:55] m-mohr opened #801 "Best practice for datetimes"
_Originally posted by @cholmes in https://github.com/radiantearth/stac-spec/pull/798#pullrequestreview-405859599_

[2020-05-06 07:55] #792 closed

[2020-05-06 09:55] m-mohr commented on #781
We have PRs for both now: Collection Assets #800, Item Date Ranges #798

[2020-05-12 14:35] matthewhanson opened #803 "data coverage percentage"
Sentinel has a percent data coverage, representing the total amount of the scene that has data, this can be a very useful property for any data that has been cut into tiles as it can be used to filter out scenes that are just small pieces of data.  (for instance if you only want scenes that cover the entire tile).

I'd propose a new field, `data_coverage` or similar.  It is applicable to EO data,

[2020-05-12 15:40] #799 closed

[2020-05-18 16:44] #773 closed

[2020-05-19 03:28] vincentsarago opened #807 "STAC + COG and dynamic tiling"
## Min/Max zoom (high priority)
I'm trying to support as much as possible STAC in other dynamic tiling projects and IMO having the min/max zoom for asset would be really useful (right now I have to read the metadata or to get the max zoom from the `gsd` is present).

## Datatype (low priority)
Having access to the datatype of the asset would also be useful, so we know if we need to apply any kind

[2020-05-19 08:20] m-mohr commented on #807
1. Could https://github.com/radiantearth/stac-spec/tree/dev/extensions/tiled-assets help or be extended?
2. Probably a (new?) extension as the datatype doesn't seem search related. I'm also interested in this field. What exactly do you mean by data type though?
3. I don't understand this enough. Isn't that what eo:bands in the assets makes clear?

[2020-05-20 06:45] p1d1d1 opened #808 "FIlter on media types"
Dear all, how to deal with images available in different media types? As I understand the spec, if I have an image available in let's say two media types I create an Item and put each media type in the Asset Object, is that correct?
If yes how can one filter on media types? The media type is an attribute on an Asset Object, while the "finest" granularity of the STAC API is the Item.
Or should I or

[2020-05-20 23:07] vincentsarago commented on #807
Hi @m-mohr thanks for your answer.

Why not, to be honest it will make some senses because Zooms are tied to a TMS

datatype to me is https://numpy.org/doc/stable/user/basics.types.html. Basically I'd love to know if each asset is in `byte`, `float32`.... the problem is then what convention to follow (C Type ?)

Sorry for not being clear, the problem I have is when I need to create tiles from an I

[2020-05-21 00:11] geospatial-jeff commented on #807
Let me start off by saying I'm a huge fan of STAC + COG.  I think there is a lot to gain by creating interoperability between the two.

I'm a big proponent for having a simple `cog` extension which defines the fields mentioned by @vincentsarago (minzoom/maxzoom/datatype) so the client (or dynamic tiler in this case) can avoid reading the asset to get this metadata.  I think this is similar to some

[2020-05-21 03:31] cholmes commented on #807
Yeah, I agree it should be separate from tiled-assets, though they are clearly closely related. I'm +1 on it.

I'd say go ahead and move this to be a PR. I'm not totally sure that COG is the right name for the extension and which fields are the right scope - like are min/max useful for things other than cogs? But I think it may be easiest to have this discussion in a PR so we're not talking too ab

[2020-05-21 06:12] m-mohr commented on #807
Yes, this all makes much sense. Thanks for clarifying. We probably need a more general name though as I'm seeing usecases other than cogs, too.

[2020-05-22 07:43] m-mohr opened #809 "Label extension: Empty Classes"
Originates from https://github.com/radiantearth/stac-spec/pull/753/files#r408329133

The Classes in the Label extension are required, but the object in the list could be empty. That's somewhat strange. Should be something required there?

Edit: The schema says it is required, see also https://github.com/radiantearth/stac-spec/pull/753#discussion_r408325609

[2020-05-22 10:54] m-mohr commented on #693
Based on this issue and #351, temporal fields could be named like this:

1. Data capture start -> `start_datetime`
1. Data capture center -> `datetime`
1. Data capture end -> `end_datetime`
1. Data first modified (stored) -> `assets_created`
1. Data last modified -> `assets_updated`
1. Data first published ->`assets_published`
1. Data last published -> N/A, may be captured with assets_updated?!
1.

[2020-05-22 17:21] cholmes commented on #693
Yeah, I had been thinking along similar lines as you 'another idea' - using 'updated' at the asset level to communicate the data changed.

I think we don't _need_ to take action on this immediately - updated and created seemed to meet most user cases. I suppose an extension that specified published, valid and available could be good at some point, as well as explaining how these can apply at item

[2020-05-22 19:09] m-mohr commented on #693
Assigned this to myself, I'd like to work on this on Wed.

[2020-05-25 08:56] m-mohr commented on #803
Sounds useful, may even work for data cubes in a slightly different way. Naming should be aligned with cloud_cover, if possible in a meaningful way.

[2020-05-25 15:50] #809 closed

[2020-05-27 14:24] #801 closed

[2020-05-27 14:24] #796 closed

[2020-05-27 14:27] #778 closed

[2020-05-27 14:27] #779 closed

[2020-05-27 14:29] #767 closed

[2020-05-27 14:46] matthewhanson opened #810 "Remove ItemCollection"
ItemCollection spec isn't used in core at all, it is used as a search response from the API.

Remove from core, discuss adding to api-spec: https://github.com/radiantearth/stac-api-spec/issues/25

[2020-05-27 15:04] cholmes commented on #791
Duplicate of #810, closing this one.

[2020-05-27 15:04] #791 closed

[2020-05-27 15:11] m-mohr commented on #795
`minProperties: 1` doesn't work as it's not bound to the actual schema it is in, need to go with something like
[code]

[2020-05-27 15:22] #795 closed

[2020-05-27 15:29] #810 closed

[2020-05-27 16:03] #762 closed

[2020-05-28 09:39] m-mohr opened #816 "JSON Schema: Move stac_extensions enum to extension schemas?"
Currently we have an enum of "well-known" extensions in the JSON Schemas for catalog, collection and item:

For example in Catalog:
[code]

This is hard to maintain and we often forget to update the schemas. I think it would be better to remove the enum and instead add the actual values in the enum to the corresponding extension schemas.

For single-file-stac this would look like this (excerpt):
[

[2020-05-28 18:58] #691 closed

[2020-05-28 18:58] #693 closed

[2020-05-28 18:59] m-mohr commented on #693
See PR #693

[2020-05-28 19:05] m-mohr commented on #759
I could provide a small node script based on https://github.com/APIDevTools/json-schema-ref-parser that combines them with a cli command. Would also be useful for creating the schemas, I guess.

[2020-05-29 22:35] cholmes opened #820 "Explain summaries more"
Whenever I read the summaries section I'm always a bit unsure how to actually use them. It doesn't feel like quite enough information in the spec.

I think having them more prominent in the examples would help, and a good best practices section as well.

[2020-05-29 22:39] cholmes opened #821 "Refresh Examples"
Our examples have been added somewhat haphazardly, and many are just updated with a new construct without really thinking about what the show as a whole.

We should look over all the examples, and figure out the right mix of ones that tell a coherent story. It'd be nice if some of them were more 'real', and/or if we used some consistent items / collections / catalogs. We should also be sure most a

[2020-05-29 22:41] cholmes opened #822 "Use h4 instead of bold in table explanations?"
One of my minor annoyances when using the spec is that I'll want to refer to a particular section but it's done in bold and there's no hyperlink.

The latest was summaries - I have to say: 'go to https://github.com/radiantearth/stac-spec/blob/master/collection-spec/collection-spec.md#collection-fields and scroll down'.

We could consider just using the smallest markdown heading, so we get an autom

[2020-05-31 06:29] m-mohr commented on #822
Linking to the description below is also not ideal:
1. It only covers things with a description below the table
2. It doesn't cover the "formal" data type description

I feel like linking to the collection fields fine, but on my screen I see it directly with the link, not sure about smaller screens.

[2020-05-31 06:31] m-mohr commented on #820
What exactly is missing for you? What should be covered in a best practice? There's already a bit on what to include and what not.

[2020-06-01 09:41] m-mohr opened #823 "Issues with eo:bands"
With 1.0.0-beta.1 we removed commons and allowed eo:bands to be in
1. Item properties
2. Assets
3. Collection Item Assets Extension
4. (Summaries)

There are a couple of problems we need to address:
1. I think we could improve the documentation about this in the EO extension. Although the Item Asset object describes the behavior for eo:bands in assets in general, it is not mentioned at all in the

[2020-06-01 10:09] m-mohr opened #824 "Relation between Single File STAC and Collections"
For me it is not quite clear how the relation between Single File STAC and Collections is. Currently, SFS extends a Catalog and Collections is a Catalog, but at the same time there's a collections field in the Catalog.

From a "Single Item with Collection" use case, I'd find it pretty sweet to just add the collection fields to the top-level in a SFS and not populate the collections array. I'm not

[2020-06-01 10:22] m-mohr opened #826 "stac_extensions in STAC Catalog / Collections"
Unfortunately, I made a mistake in commit https://github.com/radiantearth/stac-spec/pull/814/commits/7b29de2b8e8005c4a9174f5c3873a9290dd5b4fe. There, I added an explicit list of Catalog extensions. That is good for validating Catalogs, but doesn't work for Collections. Collections inherit from Catalog, but the list of extensions in Catalog is now too restrictive (not listing Collection extensions)

[2020-06-01 15:54] matthewhanson commented on #823
1. I agree documentation could be improved, although I think a lot of this is best practices. eo:bands goes as a list of objects in properties, but any Item property can be used in assets to override it, allowing one to define the bands for each asset within the asset and no references. This part should probably be explained in the EO extenion.

For the sentinel catalog, https://1tqdbvsut9.execute

[2020-06-01 16:22] matthewhanson commented on #824
The top-level in a SFS is basically the "root" catalog, and all the Collections in the catalog are in the `collections` array and all the Items in the catalog are in the `Features` array.

You can't just have collection fields in the top-level because your SFS might have Items from multiple Collections.

[2020-06-01 18:51] m-mohr commented on #824
Yes, I know that this is generally the case, but I'm looking at a use case with just one collection and then I asked myself whether I could just extend the Catalog to be a Collection like in "STAC core". It just doesn't say anything about it and should be clarified quickly.

[2020-06-01 19:00] m-mohr commented on #824
The underlying question really is: Is a Collection Extension automatically also a Catalog extension?
This is related to #826.

[2020-06-02 13:47] m-mohr commented on #823
I tried my best on point 3 (examples) and made some other minor changes. I also removed the requirement for eo:bands (point 4), but didn't had any clue how to require it correctly, so it's optional for now. We should discuss later how we handle requirements with Item Asset Definition...

@matthewhanson Could you give point 1 (docs) a try? I'm running out of time...

[2020-06-02 13:58] m-mohr commented on #821
I fully support this. When working on the EO example fixes for #829, some were really confusing.

[2020-06-02 16:36] #823 closed

[2020-06-02 16:37] #816 closed

[2020-06-02 16:37] #826 closed

[2020-06-02 16:42] m-mohr opened #831 "Update UML for 1.0.0 final release"
The UML diagram is still in 0.9.0 state, which is fine for a beta release, but should be updated for the 1.0.0 final release.

[2020-06-02 16:44] m-mohr commented on #624
The original issue has been fixed in issue #828.

[2020-06-04 06:43] m-mohr commented on #445
See PR #834

[2020-06-04 06:48] m-mohr commented on #759
In the json node validator, I'm using a very simple json schema to combine them: https://github.com/m-mohr/stac-node-validator/blob/master/core.json
Then the tool above resolves the refs.
I'm not exactly sure how valuable it is to provide this from our side though. It wouldn't contain extensions.

[2020-06-04 14:38] m-mohr opened #835 "Unique schema $id's (host schemas on stacspec)"
Departing from chat and similar to #624: We should deploy all schemas for all tags to stacspec.org automatically, similarly to the STAClint cdn. This is also useful to make the schema $id's (for extensions) unique. At the moment they are all set to schema.json# and I had to work around that in code.

@lossyrob agreed in chat:

ToDo:
1. Make CI push json schemas for all tags to stac-site repo
2. ch

[2020-06-04 14:40] m-mohr commented on #624
And the other issue is tracked in #835

[2020-06-04 14:40] #624 closed

[2020-06-08 07:49] m-mohr opened #836 "Access / License details"
From a user-perspective, it seems very valuable to know whether assets are publicly/freely available or not. For the SPDX licenses it's easy to grasp, but often there are custom terms and license is set to proprietary. So that doesn't help with that. I think we should think about a way to encode these information.

In openEO, we simply use paid: true/false, but that is maybe a bit too simplified?

[2020-06-08 22:49] joshfix opened #837 "datetime properties field needs clarification"
Item spec states that the “datetime” properties field is a required field, and that additional fields exist:

https://github.com/radiantearth/stac-spec/blob/master/item-spec/item-spec.md#properties-object

However, when following through to the STAC Common Metadata link under additional fields, “datetime” shows up as under “Date and Time” and appears to be defined as an optional/additional field?

[2020-06-08 22:50] joshfix opened #838 "Typo in Tiled Assets extension"
Typo in “max_tile_rol”:

https://github.com/radiantearth/stac-spec/tree/v1.0.0-beta.1/extensions/tiled-assets#tile-matrix-limits-object

I think it should be “max_tile_col”.

[2020-06-08 23:08] joshfix opened #839 "Tiled Assets extension split/clarification"
I'm going to write this from the perspective of my Staccato implementation :). In general, Staccato defines extensions as interfaces in Java, so that concrete collections, items, properties etc can be composed from any combination of extensions.

When created the Tiled Asset extension, I found the documentation very confusing -- it took me a bit of time to determine that the extension is comprised

[2020-06-08 23:09] joshfix opened #840 "Single File STAC references common collection properties"
Is this sentence still relevant, or have we done away with common properties in the collection?

“The Items in the single file catalog should not be merged with the Collection properties (i.e., common properties).”

https://github.com/radiantearth/stac-spec/tree/v1.0.0-beta.1/extensions/single-file-stac

[2020-06-08 23:12] joshfix opened #841 "Root catalog displays single version; links go to STAC and STAC API implementations"
Looking at Staccato's root catalog (https://stac.boundlessgeo.io/), links are provided for collections, catalogs, and API endpoints, however, the top of the document displays a stac version field:

`"stac_version": "1.0.0-beta.1"`

If the API and STAC specs a split, should we introduce a `stac_api_version` field or something similar?

[2020-06-09 10:21] m-mohr commented on #840
Yes, should be removed.

[2020-06-09 10:23] m-mohr commented on #839
Looking at it again after some time, I had a very similar experience.
cc @constantinius

[2020-06-09 10:28] m-mohr commented on #837
Yeah, that's a bit confusing due to the nature that common metadata fields are meant to be universally usable (e.g. in assets and item properties) and you can pick what you need. Due to it being allowed in assets, it's not possible to make "requirements" there. I tried to solve this by referring to the Item spec where you see it's required in Item properties.

[2020-06-09 16:00] m-mohr opened #843 "Empty Geometries?"
@abarton-airbus wrote on Gitter:

My answer was:

We should check that and adopt wording if necessary.

Related: https://github.com/radiantearth/stac-spec/issues/367

[2020-06-09 16:44] cholmes commented on #843
+1 - to me geometry required is key. But yes, let's make sure it's clear in spec / schema.

[2020-06-09 16:57] abarton-airbus commented on #843
I'd just clarify that technically this use case is produced when a geometry is provided, it's just an empty geometry. So perhaps the spec/schema needs to not only require geometries, but require they are not empty.

[2020-06-09 17:03] cholmes commented on #843
Gotcha, thanks @abarton-airbus - that's a great clarification to be sure we have in the spec. Thanks for flagging it.

[2020-06-11 16:49] cholmes commented on #843
So in my mind the 'contract' of STAC is to ensure that everything has space and time. So I lean towards saying that an Item without a geometry (or set to empty) is not actually STAC compliant, but that we should allow non-geometry 'Items' in a catalog, but a STAC validator should only check those that have geometries.

But that was more in response to people who want STAC to be their catalog for e

[2020-06-11 22:00] pvgenuchten commented on #843
From a wider metadata perspective, iso19115 for example allows to indicate an area by name, without specific coordinates. For example an area name without defined boundaries. But also consider relative positions, such as 'at the back of my car'.

[2020-06-11 22:21] m-mohr commented on #843
I don't use this approach yet, that was just an idea some time ago. In openEO, we just have a single STAC Item at the moment per processing result, thus it's either valid STAC or invalid depending on geometry/bbox being null or not. So broadening this up would actually make all valid (and I'd not use null but empty arrays).

I think it's fine to allow empty geometry/bbox. We should quickly mention

[2020-06-12 07:18] jjrom commented on #843
I agree that it is a bit awkward to have a STAC item without a geometry. However, since the GeoJSON specification allows for null geometry (see https://tools.ietf.org/html/rfc7946#section-3.2), there is no reason that a STAC item without geometry should be invalid.

Additionally, I have been working with the French Space Agency to set up a STAC endpoint to a bunch of collections. Some of these col

[2020-06-12 08:48] m-mohr commented on #843
So if we stick with requiring bbox and geometry to encourage giving spatial information, they would be set to:
[code]
Is that correct and valid to the GeoJSON spec?`

Actions for the spec would be:
- Allow null for geometry
- Allow empty bbox

[2020-06-15 15:31] #838 closed

[2020-06-15 15:36] #840 closed

[2020-06-15 17:24] m-mohr commented on #843
The JSON Schema for GeoJSON doesn't allow empty bboxes (minItems: 4). So the proposal from above won't work as bbox is required in STAC and that is unlikely to change. So we can't really have an empty geometry. Thoughts? Ideas?

[2020-06-15 17:26] cholmes commented on #843
Ok, so @m-mohr and I were all set to make this happen, but then realized that the empty bbox isn't valid according to the geojson schemas - https://geojson.org/schema/Feature.json. I even wrote up most of what the 'best practice' section would look like: https://github.com/radiantearth/stac-spec/blob/null-geometry-clarification/best-practices.md#null-geometries

That brought me back to the other r

[2020-06-16 05:48] jjrom commented on #843
@cholmes Having a different type for regular/unlocated items will lead to implementation issue. For instance, if you have a mix of located and unlocated items in the same collection/catalog, you need to explicitly retrieve the geometry of each item to check if it is located or not to produce different links rel="item" entry.
The GeoJSON specification indicates that the bbox property is optional bu

[2020-06-16 06:59] m-mohr commented on #843
I checked the PR and it doesn't work for us that way as each Item is standalone and not necessarily linked to from a catalog yet. Thus we would just erase any STAC reference from the docs as we don't always provide a STAC compliant item then.

I understand both sides. On the one hand the desire to enforce spatio-temporal whenever possible and have a bbox for searching, but on the other hands to ca

[2020-06-16 21:45] cholmes commented on #843
If we can have our schemas make bbox required as long as the geometry is non-null then I think I'm ok with the null geometry solution.

Though I think it may still make sense to describe the alternate mimetype path (using application/json when there isn't a geometry) as a recommendation, especially for the second set of cases, when someone just wants to use STAC for 'everything' that they already

[2020-06-16 22:13] m-mohr commented on #843
First Point: Yes, we can make that in JSON Schema.

Second Point: If the items follow the null geometry approach, they are still STAC and GeoJSON so I'm not sure what exactly could be offered as application/json then?

[2020-06-16 23:18] cholmes commented on #843
Ah, that's true on the second point. Will think about an alternate approach.

[2020-06-17 08:55] m-mohr opened #850 "Questions related to STAC versions"
Due to my work on a specification (openEO) that is based on STAC, some questions came up recently:

1. Is STAC (i.e. releases and the field stac_version) following Semantic Versioning? So is any breaking change after 1.0.0 leading to a version 2.0? If not, how is the procedure regarding version numbers and breaking changes?
  *Why is this important?* I want to future-proof the openEO API and not j

[2020-06-17 09:07] emmanuelmathot opened #851 "Profiled Media Type (MIME) for STAC dcouments"
# Summary

Need for a specific media type definition that specifies modeling level for Item, Catalog and Collection.

# Context

Exposing a Web Service (OGC API Processes) with STAC documents as input. The parameter declares the media type (MIME) of expected input. The current implementation uses `application/json` and `application/geo+json`. This syntactical level of specification is necessary bu

[2020-06-17 09:16] m-mohr commented on #851
Some remarks:
1. Implicitly, the media type for STAC Items is currently `application/geo+json` and for Catalogs/Collections is `application/json`. Introducing these new media types would have influence on existing STACs as the links would need a different media types in `type`. Alternative would be to allow new media types with and without profile.
2. This would also influence work on #848 likely

[2020-06-17 09:17] fabricebrito opened #852 "View Geometry Extension proposal: add the solar exoatmospheric spectral irradiances"
Hello,

The View Geometry Extension provides the **view:sun_azimuth** and **view:sun_elevation**.  (https://github.com/radiantearth/stac-spec/tree/master/extensions/view)

If we add a **view:eai** for the exoatmospheric spectral irradiances (a.k.a. ESUN in several radiance to reflectance formulas) we would have all the information to do the optical calibration reading all the info from the STAC it

[2020-06-17 09:23] m-mohr commented on #843
Just wondering what the actual use case for those "other" items are? Why do they need to be a STAC Item is they can't follow most of the structure needed to be an actual item? Could theses just be exposed via collection assets instead of items?

[2020-06-17 10:09] emmanuelmathot commented on #851
Some answers:

1. The proposal would not change the media type, it remais `application/geo+json` and `application/json`. Alternatives do but we prefer not doing that. `profile` is a parameter in the content-type header or media-type and is not mandatory.
2. Since the core media-type remains the same, there is no impact. The problem resides in the software implementation. See 3.
3. Indeed, it all d

[2020-06-17 10:18] m-mohr commented on #851
2. Have you read into the linked PR? Doesn't seem like that, because it impact on it (likely in a positive way).
3. Probably works with libraries where the core business is handling such things, but I have often seen code like `if(link.type == 'application/geo+json') ...` in applications, which would break...

[2020-06-17 10:40] emmanuelmathot commented on #851
2. From what I saw, maybe too quickly, the PR #848 was about specifying a relationship type in the links pointing to a STAC document which is close but with a slightly different purpose.
Anyway, there is a synergy with our proposal that could help, as a best practice, to identify STAC documents, by specifying this `profile` parameter in the mime type, typically in the HTTP header `Content-Type` or

[2020-06-17 10:43] m-mohr commented on #851
3. I was more thinking about the media types in the STAC files (i.e. link `type`).

[2020-06-17 13:09] emmanuelmathot commented on #851
2. Agreed for API but there could be also a convention specified in the core STAC spec.
3. The link `type` attribute can contain also the media-type parameters.

Let me show you the purpose in 2 practical examples in 2 different data model.

1. STAC data model in JSON encoding
[code]
in the above example, the profiles are quite useless because there are implicitly defined by the `rel` attribute in

[2020-06-17 16:03] cholmes commented on #852
Sounds super interesting @fabricebrito and definitely a use case I'd be excited to support.

I think the only question for me is where to put it, as it feels a little different then the view fields, which are all about the angles.

I'm far from a remote sensing expert, so I may be grouping things wrong, but what about something like a 'calibration' extension? At Planet we have a field called 'refl

[2020-06-17 17:59] erickskb opened #853 "Negative view:sun_elevation value support (Night Shots)"
The current spec has `view:sun_elevation` defined as:
The angle from the tangent of the scene center point to the sun. Measured from the horizon in degrees (0-90).

At Maxar Technologies negative values are used for night shots. Validation on the equivalent `view:sun_elevation` field is -90 to 90.

A negative sun elevation value helps users identify that the image is a night shot, which can help w

[2020-06-17 19:46] cholmes commented on #853
Interesting. Definitely seems worthy of supporting. The -90 to 90 seems like a slight overloading of the concept to me, but I'm no expert in this, and am definitely open to it.

Do we know what others do here? Would be great to have some sample metadata to see how they handle it. At Planet I don't think we publish any night time shots, so with that hat on I don't have a point of view. What does VI

[2020-06-18 02:53] matthewhanson commented on #852
I think the exoatmospheric solar irradiances would belong better for each band in eo:bands, since as you pointed out they are band dependent.

@cholmes They are a little different then a reflectance coefficient. Whereas a refl coef needs to be simply applied to the band counts to get a reflectance value, the ESUN var is one of several other parameters that need to be taken into consideration (e.g.

[2020-06-22 15:46] cholmes commented on #850
1. I'll take on - put in language about sem ver
2. Discussed on call for 6-22-20, decided that the answer is 'yes', a STAC API can respond with different versions. For the betas we don't have a great way to resolve which api version is implemented, though the features api version may help a bit. And we will work to get it more clear for 1.0 of stac api.
3. This is resolved

[2020-06-23 18:05] cholmes commented on #843
I'm pretty far from the use case, but I believe they tended to be more 'items' than collections. But it's a good note to add that it's an option.

We discussed on the call 6-23-2020, and decided to go the route with bbox not required if the geometry is null. @m-mohr will do the schema changes, and I'll work on the write up.

[2020-06-23 19:33] m-mohr commented on #843
@abarton-airbus and @ycespb, have you an unlocated Item we could add as an example to the spec? The unrectified L1 data would be a nice example, I think.

[2020-06-24 08:22] m-mohr commented on #741
So Commons has been removed, but now there's the Item Asset extension. How do we proceed? Should we allow multiple collections in the collections field?

[2020-06-24 08:28] m-mohr commented on #820
I need a response so that I can work on it for beta.2. Otherwise I have to move it to the next release. @cholmes

[2020-06-24 08:31] m-mohr commented on #850
1. PR is #855
2. I guess the way to resolve it is as follows:
  - All STAC APIs prior to 0.9 are bound to the respective STAC versions
  - STAC 0.9 can either be a STAC 0.9 or 1.0 API. It is distinguishable by the stac_api_version field, which we'll include for 1.0. If it's not available, it's a 0.9 API.
   - Everything after STAC API 1.0 has the stac_api_version field.

    Do we need to document

[2020-06-24 08:47] m-mohr opened #858 "STAC API for STAC 1.0"
STAC API was split off this repository (the core STAC specification) some time ago after STAC 0.9 has been published. The STAC API specification is lagging a bit behind and thus here are some guidelines for implementing STAC APIs with STAC 1.0:

- STAC 1.0 can be implemented with STAC API 0.9
- Once STAC API 1.0 is available, it can also serve STAC 1.0

As there is no way to indicate the STAC API

[2020-06-24 09:05] m-mohr commented on #837
PR is up at #859

[2020-06-25 09:58] m-mohr commented on #858
Strictly speaking, only a subset of 1.0.0 can be served in STAC API 0.9.0 as `bbox`, `geometry` and `datetime` in Items have slightly changed. Thus unlocated Items and Items with `datetime` set to null can't be served via STAC API 0.9.0.

[2020-06-25 20:27] emmanuelmathot opened #860 "Collection Extent schema validity in STAC Catalog Landsat8 and Sentinel2"
# Context

I am developing a C# stac library. I am using some implementation to make comprehensive tests.
Using Landsat8 or Sentinel-2 catalog on AWS, I found non valid document withcollection schema (https://github.com/radiantearth/stac-spec/blob/master/collection-spec/json-schema/collection.json).

# Issue

For instance in https://sentinel-stac.s3.amazonaws.com/sentinel-2-l1c/catalog.json
Is the

[2020-06-25 20:55] m-mohr commented on #860
Hi @emmanuelmathot ,

great to see work in C# being done!

You are comparing a version 0.6.0 document to the 1.0.0-beta.1 schema. The structure of the extent changed somewhere inbetween, so that is a valid STAC collection in version 0.6.0, but not in 1.0.0 anymore.

[2020-06-25 20:57] emmanuelmathot commented on #860
right. I have not considered schema versioning so far. Thank you for the quick answer.

[2020-06-25 20:59] #860 closed

[2020-07-01 07:15] sylar11 opened #863 "LINEAGE field for provenance"
Hi,
I would like to ask you if it could be possible to add the item LINEAGE as a STAC item fields.
Except for raw data, data lineage is useful in every field of research and or data. It is an understanding of where data comes from and the way it has been transformed to get its present state (i.e. from raw pixel valus to ndvi using the following formula...)

Nowadays, considering the magnitude of t

[2020-07-01 08:49] davidraleigh commented on #863
Just for context from our experience at Near Space Labs, we've used three internal fields for lineage, raw and parent STAC item ids:
[code]
It would be great to have this standardized.

[2020-07-01 09:27] m-mohr commented on #863
I could see this living in the scientific extension. As it seems this field is coming originally from another standard you use, could you provide how it is defined there for reference? We fear free-text fields apart from the general description a bit in STAC as it's often not clear what exactly should be put there etc. So we want a clear description.

For "derived from", STAC has the corresponding

[2020-07-01 12:34] sylar11 commented on #863
@m-mohr I think that a good description of LINEAGE in the ISO standard can be found here
https://wiki.earthdata.nasa.gov/display/NASAISO/Lineage+Information

please let me know if it is enough or if it would be better to add further information.

[2020-07-01 19:07] #843 closed

[2020-07-01 19:07] #850 closed

[2020-07-01 19:08] #837 closed

[2020-07-01 20:26] davidraleigh commented on #863
@m-mohr when you're mentioning the rel types you mean the [rfc5829](https://tools.ietf.org/html/rfc5829#section-3.5) `predecessor-version` and `successor-version`, correct?

I'm not sure how to apply this in an image processing chain, or maybe it's up to the user. Say I have 3 stages of data in our processing: raw, color corrected, and geo-referenced. When we process an image we save a result of e

[2020-07-01 22:14] m-mohr commented on #863
No, I was referring to the "derived_from" here: https://github.com/radiantearth/stac-spec/blob/master/item-spec/item-spec.md#relation-types
Indeed, it's mostly up to the user how it's used. It's due to the fact that provenance can really get complex, thus the note under the table:

[2020-07-02 06:21] sylar11 commented on #863
Prateek Budwhwar is a colleague of mine. Some weeks ago I was asking him why an item like that was missing in STAC. That's why he contacted you @m-mohr and I decided to open this issue

[2020-07-02 11:24] sylar11 commented on #863
@m-mohr in my opinion the "derived_from" is something different with respect to the lineage definition. Lineage is a short but compressive description of the scientific steps the author did to get the output he/she is describing. While, please correct me if I'm wrong, the "derived_from" item type is only a URL to the source but it does not describe what is in the middle to get the output.
What do

[2020-07-02 11:41] m-mohr commented on #863
Yes, you are correct. STAC never had the aim to specify provenance. Thus, there's no "one way" to put the lineage description, but there are still some options you could use:

- In Collections you can specify providers. For the provider with the "role" "processor" you could put lineage information in the provider "description". That's how I'd do it.
- You could also append it to the "description"

[2020-07-02 13:08] davidraleigh commented on #863
thanks for the clarifications @m-mohr. I'm always impressed at how much STAC knowledge you possess.

[2020-07-08 16:54] #835 closed

[2020-07-16 17:01] notthatbreezy opened #870 "Label Examples need to be Updated"
Some of the examples in the label extension are outdated and could use updating.

For instance, in the spacenet roads [example](https://github.com/radiantearth/stac-spec/blob/master/extensions/label/examples/spacenet-roads/roads_item.json#L155-L160) `label:assets` should be an array. The item linked to and the asset key referenced in the example are not actually the source that the labels apply to

[2020-07-20 20:52] m-mohr opened #874 "Landsat extension"
@matthewhanson wrote:

We should update the examples accordingly, I think. And link it in the community extensions list.

Whom to contact for improvements? There are some things that should be updated to comply with the schemas in beta.2...

[2020-08-17 19:30] pieschker commented on #874
@matthewhanson should be able to reach out, he's been working with them.

[2020-08-17 19:41] jackdelab commented on #874
You can ping me and/or @matthewhanson on this and any other issues about Landsat STAC extension, thanks @pieschker for bringing this to my attention

[2020-08-18 16:14] cholmes commented on #807
@vincentsarago - I can take a crack at making a PR for this if you can write a quick summary of what to include:

* Min/max zoom - how do we specify this? Web mercator zoom levels? Tips to help people calculate this or recommendations on what to use?

* Datatype - happy to add this as an optional field, could you explain more of what options you'd see here?

* One band per asset - this would just

[2020-08-18 16:23] vincentsarago commented on #807
I think Web Mercator is fine (and widely used/accepted). we have a helper function in rio-tiler to get those https://github.com/cogeotiff/rio-tiler/blob/master/rio_tiler/mercator.py#L64 (if we want to support other TMS we also have https://github.com/cogeotiff/rio-tiler-crs/blob/master/rio_tiler_crs/cogeo.py#L95-L126)

IMO, datatype should reflect the data `type` ( as in Float, Int, Complex). This

[2020-08-18 16:35] davidraleigh commented on #807
@vincentsarago your understanding of all this is far more advanced than mine. one of the things I noticed in your original notes was a `quadkey` field. Is that something you'd still be interested in? Sorry if this question no longer applies.

[2020-08-18 16:39] pomadchin commented on #741
We also had a need in having items that belong to multiple collections. It ended up being a [STAC Layer / Group Extension](https://github.com/azavea/stac4s/tree/master/docs/stac-spec/extensions/layer) which adds a separate concept of 'layers': groups of items the belong to different collections. Each layer can also have a summary about all items that belong to it.

How much it makes sense to push

[2020-08-18 17:18] cholmes commented on #807
Ok. Would be good to verify that there's a way to do this with the EO extension. We can add things at the asset level now, so could have a field that just says if a given asset is multi-band or single band.

Hrm, actually that could perhaps be the solution, using the new [Additional fields for assets](https://github.com/radiantearth/stac-spec/blob/master/item-spec/item-spec.md#additional-fields-fo

[2020-08-18 17:47] geospatial-jeff commented on #807
Since 1.0.0-beta.1 the asset level `eo:bands` member may contain the entire array.  I can't find any implementation examples but in theory the number of bands per asset can be determined by the length of the `eo:bands` array.

[2020-08-18 17:58] pomadchin commented on #741
During the STAC sprint we talked a bit about the Layer Extension and about items belonging to multiple collections;
The conclusion was that probably we don't need it (both: layer extension and items with multiple collections), but what can be an option is the [Aggregation extension](https://github.com/radiantearth/stac-api-spec/pull/36), where the result of the aggregation can be represented as a

[2020-08-18 17:59] m-mohr commented on #741
Conclusion: We discussed that in the Python room today and came to the conclusion that this is likely not needed. You can have multiple collections referring to a single item, but you always have a just a single collection you inherit from. If you want to do aggregations, we need to come up with API aggregation functionality and will work on that tomorrow. If you create new/dynamic collections on

[2020-08-18 17:59] #741 closed

[2020-08-18 18:25] scottyhq commented on #821
Would be nice to verify href URLs are valid. As a particular case https://github.com/radiantearth/stac-spec/blob/master/item-spec/examples/landsat8-sample.json could be updated to point to a valid level-1 collection path such as https://landsat-pds.s3.amazonaws.com/c1/L8/139/045/LC08_L1TP_139045_20170304_20170316_01_T1/index.html from https://docs.opendata.aws/landsat-pds/readme.html. I could crea

[2020-08-18 19:59] m-mohr commented on #874
[code]

[2020-08-18 20:06] m-mohr commented on #874
Once that's published again, we should update our examples and make a PR to add the schema to the community extensions.

[2020-08-19 09:23] m-mohr commented on #391
We forgot to close this. There's now a JSON Schema for the PC extension.

[2020-08-19 09:23] #391 closed

[2020-08-19 10:26] m-mohr commented on #863
For now, I made a PR here to add a bit of best practices for lineage info.

[2020-08-20 14:15] matthewhanson opened #882 "Add "canonical" rel type for links to point to original canonical source"
An API may index a static catalog, but here the static catalog is considered the canonical source of the metadata.

Propose adding a rel type of "canonical" to links so that Catalogs, Collections, or Items can point back to the original canonical source.

[2020-08-20 16:53] normanb opened #885 "Add TileDB media type to item spec"
A TileDB array is a prefix / folder and does not have an extension. As such the use of the `type` is required when linking to this media type.

[2020-08-24 14:56] m-mohr commented on #858
@jisantuc Why has this been unpinned? There's no 1.0 API yet...

[2020-08-24 17:41] jisantuc commented on #858
I probably fat fingered it. I have no recollection of deliberately doing that

[2020-08-24 22:18] m-mohr commented on #378
I'll take this over and update the schema.org mapping as I'll want to make this available for each Collection on STAC Index.

[2020-08-25 21:15] m-mohr opened #888 "Best practice: CORS"
Should we add a best practice that static catalogs and APIs should be deployed with CORS enabled?
It seems that at least half of the catalogs currently available in STAC Index doesn't send CORS headers and thus I can't use them with STAC browser or any browser-based tooling.

[2020-08-26 17:36] schwehr opened #889 "Explicit STAC Types in JSON [was] Ability to identify STAC file types with tools like file"
Probably not something the average user is going to care about, but in exploring STAC files on my local machine, I find it hard sometimes to know which type of STAC file I'm looking at.  Or if I'm trying to find the catalog, collection, or item, it might be hard to know from the command line.  e.g. from Earth Engine:

[code]

This is a bummer!  It would be awesome if file was able to return `STAC`

[2020-08-26 18:34] schwehr commented on #889
@m-mohr Can you give a little more than just a thumbs down?  The entire idea?  unix file (which isn't the most flexible tool)?  The specific suggestion?

If you were to faced with a file of STAC json (possibly unsorted) and didn't have a STAC library, how would you distinguish the types?

Some use cases I'm thinking of:  Use sends me some stac files to be added to Earth Engine.  Or all stac found

[2020-08-26 18:46] m-mohr commented on #889
There are a couple of suggestions in the best practices guide, which should make it a bit better. Does your catalog follow them? The only thing that I think could be improved there is to allow collection.json for collections instead of using catalog.json.
If those best practices are not follow, then other best practices are unlikely to be followed, too and I don't think we should enforce any namin

[2020-08-26 21:00] schwehr commented on #889
Sorry, I will try to clarify.  Hopefully this will be more obvious.

I was not thinking of file names at all, but the json contents.  e.g. I might just be getting a string blob of json without any file as an RPC, from some database, or who knows where.

I will look more closely at [best-practices.md](https://github.com/radiantearth/stac-spec/blob/master/best-practices.md), but those don't seem to

[2020-08-26 21:13] schwehr commented on #889
Note that the unix file command won't look very far into a file for the `magic` strings it is trying to match.  If it did, it would get crazy slow.

[2020-08-26 21:14] cholmes commented on #889
Interesting - I didn't know you could give hints like that to unix.

I'm definitely +1 on a recommendation (though probably not a requirement) to put stac_version at the top. `stac_type` I'd be for also recommending up top if we already had it, but I don't think we have that yet? Curious if there's other use cases for it. I do think it might help with validators, since I feel like staclint I've po

[2020-08-26 21:21] m-mohr commented on #889
JSON Objects don't have an order, that's coming from the JSON spec. So as long as you don't write JSON files by hand, you can't always guarantee in which order the properties occur in the file. Some writers may do that, but that's nothing we can really ask for.

For the validation, it would be cleaner to have a type field. We could use type:Feature for Items already and just add type:Catalog and t